# Basic Python

[Python 3.8.3 Documentation](https://docs.python.org/3/)

## Best Coding Practices

- [The Zen of Python](https://www.python.org/dev/peps/pep-0020/)
- [Style Guide for Python Code](https://www.python.org/dev/peps/pep-0008/)

Check what kind of platform (interpretation) is being used.

In [1]:
import platform
platform.python_implementation()

'CPython'

Typically we use 'CPython' which means running python using C languages.

There are also 'Jython' (which uses Java), IronPython (C#) and Pypy (Python).

## `Print`

In [2]:
print('Hello World!')

Hello World!

In [3]:
print('\"Hello World!\"')

"Hello World!"

In [4]:
print('Hello \
World')

Hello World

In [5]:
print("""Hello 
World""")

Hello
World

In [6]:
print('Hello \nWorld')

Hello
World

In [7]:
print(r'Hello \nWorld')

Hello \nWorld

In [8]:
print('Hello')
print('World!')

Hello
World!

In [9]:
print('Hello', end=' ')
print('World')

Hello World

In [10]:
print('Hello', end='...')
print('World')

Hello...World

In [11]:
print('Hello World! '*3)

Hello World! Hello World! Hello World!

In [12]:
print('.'*25)

.........................

In [13]:
print('Hello' + ' ' + 'World' + 'dddd')

Hello Worlddddd

In [14]:
print('Hello','World')

Hello World

In [15]:
print('Hello','World','This','Is','Python',3)

Hello World This Is Python 3

## Comment `#`

In [16]:
# This is a comment! So Nothing Will Show

In [17]:
print('Comment will not be shown->') # This is the comment

Comment will not be shown->

In [18]:
print('# This is not a comment, but a string')

# This is not a comment, but a string

## Variables `=`

- Variable name can be a Combination of **Character**, **Number** and **Underscore**. But! cannot start with **Number** (add `_` before it instead)
- Cannot Be **Reserved World** *(e.g. `print`, `while`, `if`, `for`, etc.)*
- Are **Case Sensitive** *(e.g. `ABC` != `abc`)*
- Use **Meaningful** Names with **Consistent Nameing Style** *(e.g. `NumberOfMiles`, `Number_of_hours`, `speedMPH`)*

In [19]:
# set a variable using a meaningful variable name
distance_traveled_mi = 100
time_taken_min = 1200
time_taken_hr = time_taken_min/60

print('Number of Miles Traveled', distance_traveled_mi)
print('Number of Hours Traveled', time_taken_hr)
print('Speed in MPH', distance_traveled_mi / time_taken_hr)

Number of Miles Traveled 100
Number of Hours Traveled 20.0
Speed in MPH 5.0

In [20]:
fruits = "Apples and Oranges"
numApple = 10
numOrange = 20

print('I have',fruits,'... I have', numApple,'Apples','and',numOrange,'Oranges')

I have Apples and Oranges ... I have 10 Apples and 20 Oranges

In [21]:
# multiple assignment
a = 0
b = 1
print(a, b)

c, d = 2, 3
print(c, d)

0 1
2 3

In [22]:
a, b = 1, 2
a, b = b, a+b
print(a,b)

2 3

## Numbers and Operators

Be aware of the presedence! <br>
*e.g.*
- `2 * 3 + 5` = 11,
- `(2 * 3) + 5` = 11,
- `2 * (3 + 5)` = 16 ;


- `2 * 3 ** 4` = 162,
- `(2 * 3) ** 4` =1296,
- `2 * (3 ** 4)` = 162;


- `-3 ** 2` = -9
- `(-3) ** 2` = 9


- `-3+5` = 2
- `(-3)+5` = 2

In [23]:
print('Unary and Bitwise Operators: - ~ ')
print('-2 = ', -2)
print('~2 = ', ~2, '(bitwise inversion)')

Unary and Bitwise Operators: - ~
-2 =  -2
~2 =  -3 (bitwise inversion)

In [24]:
print('Floor Operator and Modulo Operator : //  %')
print('Quotient of 101/2 (or 101//2) is', 101//2)
print('Remainder of 101/2 (or 101%2) is', 101%2)

Floor Operator and Modulo Operator : //  %
Quotient of 101/2 (or 101//2) is 50
Remainder of 101/2 (or 101%2) is 1

In [25]:
print('Shift Operators: >>  <<')
print('100>>3 =', 100>>3)
print('  Same as: 100//(2**3) =', 100//(2**3))
print('100<<3 =', 100<<3)
print('  Same as: 100//(2**3) =', 100*(2**3))

Shift Operators: >>  <<
100>>3 = 12
  Same as: 100//(2**3) = 12
100<<3 = 800
  Same as: 100//(2**3) = 800

In [26]:
print('Binary Bitwise Operator: |  &  ^')
print('3 | 0 =', 3 | 0)
print('3 ^ 3 =', 3 ^ 3)
print('3 & 0 =', 3 & 0)

Binary Bitwise Operator: |  &  ^
3 | 0 = 3
3 ^ 3 = 0
3 & 0 = 0

In [27]:
print('Comparison Operators: >   >=   ==   <=   ==   in   not in')
print('5 > 2 ?', 5 > 2)
print('5 == 3 ?', 5 == 3)
print('5 <= 4 ?', 5 <= 4)
print('2 in (1, 2, 3) ?', 2 in (1, 2, 3))
print('5 not in (1, 2, 3) ?', 5 not in (1, 2, 3))

Comparison Operators: >   >=   ==   <=   ==   in   not in
5 > 2 ? True
5 == 3 ? False
5 <= 4 ? False
2 in (1, 2, 3) ? True
5 not in (1, 2, 3) ? True

In [28]:
print('Boolean Operators: AND   OR   NOT')
print('5 > 2 and 5 == 2 ?', (5 > 2) and (5 == 2))
print('5 > 2 or 5 == 2 ?', (5 > 2) or (5 == 2))
print('5 not == 2 ?' , not (5 == 2))

Boolean Operators: AND   OR   NOT
5 > 2 and 5 == 2 ? False
5 > 2 or 5 == 2 ? True
5 not == 2 ? True

## Python Math Library
[Math documentation](https://docs.python.org/3/library/math.html)

In [29]:
import math

In [30]:
var1 = 2
var2 = 3
print('round(var1/var2):', round(var1/var2))

round(var1/var2): 1

In [31]:
print('math.floor(var1/var2):', math.floor(var1/var2))

math.floor(var1/var2): 0

In [32]:
print('math.ceil(var1/var2):', math.ceil(var1/var2))

math.ceil(var1/var2): 1

In [33]:
print('pow(var1, var2):', pow(var1, var2))
print('  Same as: var1 ** var2:', var1 ** var2 )

pow(var1, var2): 8
  Same as: var1 ** var2: 8

In [34]:
print('abs(var1 - var2):',abs(var1 - var2))

abs(var1 - var2): 1

In [35]:
print('math.sqrt(var1):', math.sqrt(var1))

math.sqrt(var1): 1.4142135623730951

---

## Exercises 1

### Exercise Set 1
- Declare a variable for the currency of Euros
- Convert the amount of Dollars and assign another variable, rounded to two decimal places.
- Print the Euro amount and the Dollar amount in a user-friendly format

In [36]:
euro = 100
dollar = euro * 1.121264
print(euro, 'Euros =', round(dollar,2), 'Dollars')

100 Euros = 112.13 Dollars

In [37]:
euro = 200
exchange_rate = 1.121264
dollar = round(euro * exchange_rate,2)

print('Euro =', euro)
print('Exchange Rate =', exchange_rate)
print('Dollar =', dollar)

Euro = 200
Exchange Rate = 1.121264
Dollar = 224.25

### Exercise Set 2
- Declare a variable for billed amount, and assign an arbitrary value to it.
- Declare a second variable for tip percentage, and assign an arbitrary value to it.
- Declare a third variable for total due, derived from the first two variables.
- Print the billed amount, the tip percentage, and the total due in a userfriendly format
- Plug is different values and ensure above works as expected.

In [38]:
bill_amt = 200
tip_pct = 0.15
tot_amt = round(bill_amt * (1+tip_pct), 2)

print('Bill Amount =', bill_amt)
print('Tip Percentage =', tip_pct)
print('Total Amount =', tot_amt)

Bill Amount = 200
Tip Percentage = 0.15
Total Amount = 230.0

### Exercise Set 3
- Declare a variable for the radius of a circle and assign an arbitrary value to it
- Calculate the circumference of the circle ($\pi$) and assign to another variable
- Calculate the area of the circle ($\pi$) and assign to another variable
- Print the radius, circumference and area in a user-friendly format

In [39]:
import math

radius = 1
pi = math.pi
circumference = round((radius * 2) * pi, 2)
area = round((radius**2) * pi,2)

print('Radius =', radius)
print('Circumference =', circumference)
print('Area =', area)

Radius = 1
Circumference = 6.28
Area = 3.14

### Exercise Set 4
- Declare a variable and assign it an arbitrary integer value
- Test whether the variable is even or odd and assign the result to another variable
- Print the variable, and whether it is even or odd in a user-friendly format

In [40]:
var = 5


if (var % 2) == 0:
    print(var, 'is even')
    var += 1
    print('The new variable is', var)
else:
    print(var, 'is odd')
    var += 1
    print('The new variable is', var)

5 is odd
The new variable is 6

In [41]:
var = 5
remainder = var % 2
is_even = (remainder==0)

print('The number is', var)
print('The remainder is', remainder)
print('Is the number even?', is_even)

The number is 5
The remainder is 1
Is the number even? False

### Exercise Set 5
- Declare a variable and assign it a dollar value of 259
- Print the minimum number of 20, 10, 5 and 1 dollar bills will need to make up the dollar amount

In [42]:
dollar = 259

print('To pay', dollar, "dollars, you'll need:")

in_20 = math.floor(dollar/20)
dollar = dollar - (in_20 * 20)
in_10 = math.floor(dollar/10)
dollar = dollar - (in_10 * 10)
in_5 = math.floor(dollar/5)
dollar = dollar - (in_5 * 5)
in_1 = math.floor(dollar/1)
dollar = dollar - (in_1 * 1)

print(in_20, '20-dollar bills')
print(in_10, '10-dollar bill')
print(in_5, '5-dollar bill')
print(in_1, '1-dollar bills')

To pay 259 dollars, you'll need:
12 20-dollar bills
1 10-dollar bill
1 5-dollar bill
4 1-dollar bills

---
---

## Python Data Structure
1. Sequence Type 
  - string (ordered, immutable)
  - list (ordered, mutable) -- used to store homogeneous items
  - tuple (ordered, immutable) -- used to store heterogeneous items
  - range (ordered, )
2. Set
  - set (unordered, non-duplicate)
3. Dictionary
  - dictionary (unordered, key(immutable):value(could be updated) pairs)


---


## Strings `' '` and Operators

In [43]:
# concatenate (+)
print('left string >' + '< right string')
print()

lstr = 'CIS'
rstr = '409'
lrstr = lstr + rstr
print(lrstr)
print()

# repeat (*)
print('repeat...' * 3)

left string >< right string

CIS409

repeat...repeat...repeat...

### string sequences:
**How the order is set up**

<table>
    <thead>
        <tr>
            <th>P</th>
            <th>y</th>
            <th>t</th>
            <th>h</th>
            <th>o</th>
            <th>n</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
        </tr>
        <tr>
            <td>-6</td>
            <td>-5</td>
            <td>-4</td>
            <td>-3</td>
            <td>-2</td>
            <td>-1</td>
        </tr>
    </tbody>
</table>

*Now observe what python does in the following example*

In [44]:
# indexing

word = 'Python'
print(word[0])
print(word[1])
print(word[2])
print(word[3])
print(word[4])
print(word[5])
print()

print(word[-6])
print(word[-5])
print(word[-4])
print(word[-3])
print(word[-2])
print(word[-1])

P
y
t
h
o
n

P
y
t
h
o
n

In [45]:
# slicing
word = 'Python'
print(word[0:2])
print(word[2:6])
print(word[2:10])
print(word[-3:-2])
print(word[-3:-6]) # cannot count backward
print(word[-3:5])
print(word[:4] + word[4:])

Py
thon
thon
h

ho
Python

In [46]:
#immutability
word = 'Python'
# word[0] = 'J' # --> TypeError: 'str' object does not support item assignment

In [47]:
word = 'Python'
word = 'Jython'
print(word)

Jython

In [48]:
# to update a string
word = 'Python'
new_word = 'J' + word[1:]
print(new_word)

Jython

## Python String Library

In [49]:
# length of the string
print(len('Python'))

# find substring in string
print('th' in 'Python')

# find index in string
print('Python'.find('th'))

# check if string starts with substring
print('Python'.startswith('Py'))

# check if string ends with substring
print('Python'.endswith('Py'))

# lower case a string
print('Python'.lower())

# upper case a string
print('Python'.upper())

# remove leading and ending blanks
print('    Python   '.strip())

# split strings using specified character (return a list)
print('1, 2, 3, 4, 5'.split(','))

# join iterable elements with pecified characters as dilimiter
names = ['John', 'Jane', 'Sandra', 'Mike', 'Lucy']
sep = ','
print(sep.join(names))

# split string at a line feeds(\n) and carriage return (\r), returns a list
print('There \n are \n four \n lines'.splitlines())

6
True
2
True
False
python
PYTHON
Python
['1', ' 2', ' 3', ' 4', ' 5']
John,Jane,Sandra,Mike,Lucy
['There ', ' are ', ' four ', ' lines']

## Lists `[ ]` and operators

In [50]:
list_of_people = ['Tom', 'Jane', 'Harry', 'Liz']
list_of_flowers = ['Rose', 'Lily', 'Tulip', 'Lantana']
list_of_pets = ['cat', 'turtle', 'goat', 'dog']
list_of_num_of_friends = [21, 33, 10 ,51]

list_atypical = [1, 'cat', 0x45, 576]

print('list of people              :', list_of_people)
print('list of flowers             :', list_of_flowers)
print('list of pets                :', list_of_pets)
print('list of number of friends   :', list_of_num_of_friends)
print('List Atypical               :', list_atypical)

list of people              : ['Tom', 'Jane', 'Harry', 'Liz']
list of flowers             : ['Rose', 'Lily', 'Tulip', 'Lantana']
list of pets                : ['cat', 'turtle', 'goat', 'dog']
list of number of friends   : [21, 33, 10, 51]
List Atypical               : [1, 'cat', 69, 576]

In [51]:
# concatenate (+)
list_concat = list_of_people + list_of_pets
print(list_concat)

# length of the list
print(len(list_concat))

# indexing
print(list_of_people[2])
print(list_of_people[-3])

# slicing
print(list_of_people[2:])

['Tom', 'Jane', 'Harry', 'Liz', 'cat', 'turtle', 'goat', 'dog']
8
Harry
Jane
['Harry', 'Liz']

In [52]:
# mutability
list_of_people = ['Tom', 'Jane', 'Harry', 'Liz']
list_of_people[3] = 'Lucy'
print(list_of_people)

list_of_pets = ['cat', 'turtle', 'goat', 'dog']
list_of_pets[0:2] = ['python', 'elephant']
print(list_of_pets)

list_of_pets[2:4] = []
print(list_of_pets)

list_of_pets.append('Bird')
print(list_of_pets)

list_of_pets[:] = []
print(list_of_pets)

sublist_of_people = list_of_people[2:]
print(list_of_people)
print(sublist_of_people)

sublist_of_people[0] = 'John'
print(list_of_people)
print(sublist_of_people)


list_of_pets = ['cat', 'turtle', 'goat', 'dog']
compiled = [(list_of_people[0]).upper(), list_of_flowers[1], list_of_pets[2], list_of_num_of_friends[3]+10]
print(compiled)

['Tom', 'Jane', 'Harry', 'Lucy']
['python', 'elephant', 'goat', 'dog']
['python', 'elephant']
['python', 'elephant', 'Bird']
[]
['Tom', 'Jane', 'Harry', 'Lucy']
['Harry', 'Lucy']
['Tom', 'Jane', 'Harry', 'Lucy']
['John', 'Lucy']
['TOM', 'Lily', 'goat', 61]

In [53]:
# nesting
list_nested = [list_of_people, list_of_flowers]
print('list nested       :',list_nested)
print('list nested[0]    :',list_nested[0])
print('list nested[1]    :',list_nested[1])
print('list nested[0][1] :',list_nested[0][1])
print('list nested[1][2] :',list_nested[1][2])

list nested       : [['Tom', 'Jane', 'Harry', 'Lucy'], ['Rose', 'Lily', 'Tulip', 'Lantana']]
list nested[0]    : ['Tom', 'Jane', 'Harry', 'Lucy']
list nested[1]    : ['Rose', 'Lily', 'Tulip', 'Lantana']
list nested[0][1] : Jane
list nested[1][2] : Tulip

## Python List Libarary

In [54]:
lst1 = [100, 200, 300]
lst2 = [0, 5, 25]
lst3 = [10, 50, 50, 20, 0, 10, 50]
print('List 1',lst1)
print('List 2',lst2)
print('List 3',lst3)
print()


# append - add new item by the end of the list
# (inplace operation)
lst1.append(-400)
print('lst1.append(-400)     ->',lst1)

# extend - appending all the item in a list onto the current list
# (inplace operation)
lst2.extend(lst1)
print('lst2.extend(lst1)     ->',lst2)

# insert - insert an item onto a specific location(index)
# (inplace operation)
lst2.insert(3, -100) # .insert(location, item)
print('lst2.insert(3, -100)  ->',lst2)

# remove - remove the first of a 'value'
# (inplace operation)
lst2.remove(-100)
print('lst2.remove(-100)     ->',lst2)

# del - remove a item at 'index'
# (inplace operation)
del lst2[6]
print('del lst2[6]           ->',lst2)

# pop - 'remove and return' the 'last'(default: -1) item in a list
# (inplace operation)
print('lst2.pop()            ->', lst2.pop())
print('lst2                  ->', lst2)

# index - find the index of a 'value'
print('lst3.index(50)        ->',lst3.index(50))

# count - return the number of times a value shows up
print('lst3.count(50)        ->',lst3.count(50))

# reverse the order of a list
# (inplace operation)
lst3.reverse()
print('lst3.reverse()        ->',lst3)

# sort - sort a list with value
# (inplace operation)
lst3.sort()
print('lst3.sort()           ->',lst3)

# clear - empty the list (returns an empty list)
# (inplace operation)
lst3.clear()
print('lst.clear()           ->',lst3)

# delete the list completely
del lst3
# print(lst3) # -> error

List 1 [100, 200, 300]
List 2 [0, 5, 25]
List 3 [10, 50, 50, 20, 0, 10, 50]

lst1.append(-400)     -> [100, 200, 300, -400]
lst2.extend(lst1)     -> [0, 5, 25, 100, 200, 300, -400]
lst2.insert(3, -100)  -> [0, 5, 25, -100, 100, 200, 300, -400]
lst2.remove(-100)     -> [0, 5, 25, 100, 200, 300, -400]
del lst2[6]           -> [0, 5, 25, 100, 200, 300]
lst2.pop()            -> 300
lst2                  -> [0, 5, 25, 100, 200]
lst3.index(50)        -> 1
lst3.count(50)        -> 3
lst3.reverse()        -> [50, 10, 0, 20, 50, 50, 10]
lst3.sort()           -> [0, 10, 10, 20, 50, 50, 50]
lst.clear()           -> []

## Tuples `( )` and operators

In [55]:
# create/delare an empty tuple
tuple1 = ()
print('Tuple 1 :', tuple1, len(tuple1))
tuple2 = tuple()
print('Tuple 2 :', tuple2, len(tuple2))

# singleton tuples must have a trailing comma
tuple3 = (1,) # tuple3 = (1) will return syntex error
print('Tuple 3 :', tuple3, len(tuple3))

tuple4 = (1, 2, 3)
print('Tuple 4 :', tuple4, len(tuple4))

Tuple 1 : () 0
Tuple 2 : () 0
Tuple 3 : (1,) 1
Tuple 4 : (1, 2, 3) 3

In [56]:
# index
print(tuple4[1])
print(tuple4[-2])

# slicing
print(tuple4[1:])
print(tuple4[:-2])

# nesting
tuple_nested = (tuple3, tuple4)
print(tuple_nested)
print(tuple_nested[1][2])

# convert tuple to a list
tuple5 = tuple([1,2,3])
print('Tuple 5 :', tuple5, len(tuple5))

2
2
(2, 3)
(1,)
((1,), (1, 2, 3))
3
Tuple 5 : (1, 2, 3) 3

In [57]:
# packing
tuple6 = 1, 2, 3
print('Packed Tuple 6 :', tuple6, len(tuple6))

# unpacking
x, y, z = tuple6
print('Unpacked Tuple 6: ')
print('x:', x)
print('y:', y)
print('z:', z)

Packed Tuple 6 : (1, 2, 3) 3
Unpacked Tuple 6:
x: 1
y: 2
z: 3

---

## Exercises 2

### Exercise Set 1 - Manhattan, Euclidean, and Minkowski Distances
- Let’s say we are trying to calculate the Manhattan, Euclidean, and Minkowski (r=3) Distances between two coordinates (a=1, b=2) and (c=10, d=20).
- Declare and assign four variables a, b, c, d, the values 1, 2, 10, 20 respectively.
- Calculate and print the Manhattan Distance between the two points: $|a – c| + |b – d|$ [answer: 27]
-  Calculate and print the Euclidean Distance between the two points: $(|a – c|^2 + |b – d|^2)^{1/2}$ [answer: 20.12]
- Calculate and print the Minkowski Distance (r=3) between the two points: $(|a – c|^3 + |b – d|^3)^{1/3}$ [answer: 18.72]

In [58]:
a, b = 1, 2
c, d = 10, 20
r = 3

Manhattan_Distance = ( abs(a - c) + abs(b - d) )
Euclidean_Distance = ( abs(a - c)**2 + abs(b - d)**2 )**(1/2)
Minkowski_Distance = ( abs(a - c)**r + abs(b - d)**r )**(1/r)
print('Manhattan Distance :', round(Manhattan_Distance,2))
print('Euclidean Distance :', round(Euclidean_Distance,2))
print('Minkowski Distance :', round(Minkowski_Distance,2))

Manhattan Distance : 27
Euclidean Distance : 20.12
Minkowski Distance : 18.72

-  Let’s say we are trying to calculate the Manhattan, Euclidean, and Minkowski (r=3). <br>Distances between two coordinates P [a=1, b=2] and Q [c=10, d=20].
- Declare two lists: <br>
    - P = [1, 2] <br>
    - Q = [10, 20]
- Update code in previous exercise to use the lists instead of variables a, b, c, and d.

In [59]:
P = [1, 2]
Q = [10, 20]
a, b = P
c, d = Q

# method 1
Manhattan_Distance = ( abs(a - c) + abs(b - d) )
Euclidean_Distance = ( abs(a - c)**2 + abs(b - d)**2 )**(1/2)
Minkowski_Distance = ( abs(a - c)**r + abs(b - d)**r )**(1/r)

print('Method 1 (using multiple assignment) :')
print('Manhattan Distance :', round(Manhattan_Distance,2))
print('Euclidean Distance :', round(Euclidean_Distance,2))
print('Minkowski Distance :', round(Minkowski_Distance,2))

Method 1 (using multiple assignment) :
Manhattan Distance : 27
Euclidean Distance : 20.12
Minkowski Distance : 18.72

In [60]:
# method 2
Manhattan_Distance2 = ( abs(P[0] - Q[0]) + abs(P[1] - Q[1]))
Euclidean_Distance2 = ( abs(P[0] - Q[0])**2 + abs(P[1] - Q[1])**2 )**(1/2)
Minkowski_Distance2 = ( abs(P[0] - Q[0])**r + abs(P[1] - Q[1])**r )**(1/r)
print('Method 2 (using P,Q): ')
print('Manhattan Distance :', round(Manhattan_Distance2,2))
print('Euclidean Distance :', round(Euclidean_Distance2,2))
print('Minkowski Distance :', round(Minkowski_Distance2,2))

Method 2 (using P,Q):
Manhattan Distance : 27
Euclidean Distance : 20.12
Minkowski Distance : 18.72

### Exercise set 2 - Manhattan, Euclidean, and Minkowski Distances
- Let’s say we are trying to calculate the Manhattan, Euclidean, and Minkowski (r=3)<br>
Distances between two Lists:
- P = [1, 2, 3]
- Q = [10, 20, 30]
- Calculate and print the Manhattan, Euclidean, and Minkowski Distances between the two lists

In [61]:
P = [1, 2, 3]
Q = [10, 20, 30]

Manhattan_Distance3 = ( abs(P[0] - Q[0]) + abs(P[1] - Q[1]) + abs(P[2] - Q[2]))
Euclidean_Distance3 = ( abs(P[0] - Q[0])**2 + abs(P[1] - Q[1])**2 + abs(P[2] - Q[2])**2)**(1/2)
Minkowski_Distance3 = ( abs(P[0] - Q[0])**r + abs(P[1] - Q[1])**r + abs(P[2] - Q[2])**r)**(1/r)

print('Manhattan Distance :', round(Manhattan_Distance3,2))
print('Euclidean Distance :', round(Euclidean_Distance3,2))
print('Minkowski Distance :', round(Minkowski_Distance3,2))

Manhattan Distance : 54
Euclidean Distance : 33.67
Minkowski Distance : 29.72

In [62]:
# Practice using for loop
P = [1, 2, 3]
Q = [10, 20 ,30]
n = 3

Manhattan = 0
for i in range(len(P)):
    Manhattan += abs(P[i] - Q[i])
# print(round(Manhattan,2))

Euclidean = 0
for i in range(len(P)):
    Euclidean += (abs(P[i] - Q[i])**2)
Euclidean = Euclidean ** 0.5
# print(round(Euclidean,2))

Minkowski = 0
for i in range(len(P)):
    Minkowski += (abs(P[i] - Q[i])**r)
Minkowski = Minkowski ** (1/r)
# print(round(Minkowski,2))

print('Manhattan Distance :', round(Manhattan,2))
print('Euclidean Distance :', round(Euclidean,2))
print('Minkowski Distance :', round(Minkowski,2))

Manhattan Distance : 54
Euclidean Distance : 33.67
Minkowski Distance : 29.72

### Exercise set 3 - Pearson Correlation
- Measure of the linear dependence between two variables.

<p style="text-align:center;">$r = \frac{{}\sum_{i=1}^{n} (p_i - \bar{p})(q_i - \bar{q})}
{\sqrt{\sum_{i=1}^{n-1} (p_i - \bar{p})^2}\sqrt{\sum_{i=1}^{n-1} (q_i - \bar{q})^2}}$</p>

- Computationally efficient form:

<p style="text-align:center;">
    $r = \frac{{}\sum_{i=1}^{n-1} (p_i q_i) - \frac{\sum_{i=1}^{n} p_i \sum_{i=1}^{n} p_i}{n}}
    { \sqrt{ \sum_{i=1}^{n} p_i^2 - \frac{(\sum_{i=1}^{n} p_i)^2}{n}} \sqrt{ \sum_{i=1}^{n} q_i^2 - \frac{(\sum_{i=1}^{n} q_i)^2}{n} }}$
</p>

- Let’s say we are trying to calculate the Pearson Correlation between vectors P and Q using the computationally efficient form:
  - P = [1, 2, 3]
  - Q = [10, 20, 30]
  - n = 3
- Calculate the Partial Sums
- Calculate the Numerator and Denominator
- Calculate and print the Pearson Correlation

In [63]:
# partial sums
sumqp = (P[0]*Q[0]) + (P[1]*Q[1]) + (P[2]*Q[2])
sump = (P[0] + P[1] + P[2])
sumq = (Q[0] + Q[1] + Q[2])
sump2 = (P[0]**2 + P[1]**2 + P[2]**2)
sumq2 = (Q[0]**2 + Q[1]**2 + Q[2]**2)

# Numerator and Denominator
nr = sumqp - ((sump * sumq) / n)
dr = pow(sump2 - ((sump)**2 / n),0.5) * pow(sumq2 - ((sumq)**2 / n),0.5)

# pearson correlation
r = nr/dr
print('P = ', P)
print('Q = ', Q)
print('Pearson Correlation =', round(r, 2))

P =  [1, 2, 3]
Q =  [10, 20, 30]
Pearson Correlation = 1.0

In [64]:
P = [1, 2, 3]
Q = [10, 20, 30]
n = 3

part1 = (P[0]*Q[0]) + (P[1]*Q[1]) + (P[2]*Q[2])
part2 = ((P[0] + P[1] + P[2]) * (Q[0] + Q[1] + Q[2])) / n
part3 = math.sqrt((P[0]**2 + P[1]**2 + P[2]**2) - ((P[0] + P[1] + P[2])**2)/n)
part4 = math.sqrt((Q[0]**2 + Q[1]**2 + Q[2]**2) - ((Q[0] + Q[1] + Q[2])**2)/n)

pearson = (part1 - part2) / (part3 * part4)
print('Pearson Correlation =', round(pearson,2))

Pearson Correlation = 1.0

In [65]:
# math.sqrt()
print(sump2, ((sump**2) / n))
print(sumq2, ((sumq**2) / n))

14 12.0
1400 1200.0

## Range `range(start=0, stop, step=1)`
Most often used with **for loop** to control number of iteration times.

**For loop** iterate through each one of the item in the iterable *(e.g. list, tuple, string)*

In [66]:
# for loop example
words = ['cats', 'dog', 'cow', 'parrot', 'hampster', 'goat']

for w in words:
    print(w, end=', ')

cats, dog, cow, parrot, hampster, goat,

In [67]:
nums = [10, 20, 30, 40, 50]
sum_of_num = 0
for n in nums:
    sum_of_num += n # add a number and 'itself'

print(sum_of_num)

150

In [68]:
# using range
for i in range(5):
    print(i, end=', ')

0, 1, 2, 3, 4,

In [69]:
for i in range(5,9):
    print(i, end=', ')

5, 6, 7, 8,

In [70]:
for i in range(10,-3,-3):
    print(i, end=', ')

10, 7, 4, 1, -2,

In [71]:
words = ['Jane', 'John', 'Harry', 'Mike', 'Ed', 'Mark']
wordlist = []
for i in range(len(words)):
    wordlist.append([i, words[i]])
print(wordlist)

[[0, 'Jane'], [1, 'John'], [2, 'Harry'], [3, 'Mike'], [4, 'Ed'], [5, 'Mark']]

In [72]:
# note that range is not a list nor tuple, it's saved as it is, a range

r = range(0, 20, 2)

print(r)

# yet you can use some of the list functions to get what you want
print(list(r))
print(11 in r)
print(r.index(10))
print(r[5])
print(r[:5])
print(r[-1])

range(0, 20, 2)
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
False
5
10
range(0, 10, 2)
18

In [73]:
print(range(0) == range(2,1,3))

True

## Sets `{ }` and operators
Unordered, non-duplicate collection of data

In [74]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)
print('orange' in basket)

{'orange', 'banana', 'apple', 'pear'}
True

In [75]:
# single character set
some_characters = set('123467ooasaasddfdffff777713')
print(some_characters)

{'3', '7', 'f', 'o', 's', '6', 'd', '2', '4', '1', 'a'}

In [76]:
set1 = set('abcde')
set2 = set('acdaske')

print('Set 1 :', set1)
print('Set 2 :', set2)

# union (exist in either set1 or set2)
print('set1 | set2 : ', set1 | set2)

# intersect (exist in both set1 and set2)
print('set1 & set2 : ', set1 & set2)

# difference (exist in set1 but not in set2)
print('set1 - set2 : ', set1 - set2)

# symmetric difference (does not exist in both sets)
print('set1 ^ set2 : ', set1 ^ set2)

Set 1 : {'e', 'b', 'd', 'c', 'a'}
Set 2 : {'e', 'k', 's', 'd', 'c', 'a'}
set1 | set2 :  {'e', 'k', 's', 'b', 'd', 'c', 'a'}
set1 & set2 :  {'d', 'c', 'a', 'e'}
set1 - set2 :  {'b'}
set1 ^ set2 :  {'b', 'k', 's'}

In [77]:
# test
set1 = set('abcde')
set2 = set('acdaske')

print((set1 ^ set2) - (set1 | set2) - (set1 & set2))
print((set1 ^ set2) - (set1 - set2) | (set2 - set1))

set1 = {'dog', 'cat', 'deer'}
print(set1)

# set2 = set('sparrow', 'hawk', 'eagle') # error, take only one argument
print(set2)

set3 = set('abc123')
print(set3)

set4 = set('\'abc123\'')
print(set4)

set()
{'k', 's'}
{'cat', 'deer', 'dog'}
{'e', 'k', 's', 'd', 'c', 'a'}
{'3', 'b', '2', '1', 'c', 'a'}
{'3', 'b', '2', "'", '1', 'c', 'a'}

## Dictionaries `{ : }`
Unordered `{key : value}` pairs

In [78]:
# create an empty dictionary
grades = {}
print(grades)
print(len(grades))

{}
0

In [79]:
# create a dictionary
grades = {'jack' : 90,
         'jill' : 100,
         'joe' : 99,
         'nat' : 95,
         'eric' : 100,
         'audrey':90}
print(grades)
print(len(grades))

{'jack': 90, 'jill': 100, 'joe': 99, 'nat': 95, 'eric': 100, 'audrey': 90}
6

In [80]:
# create a dictionary using dictionary instantiator - 1
grades = dict( [('jack',90),('jill',100),('joe',99),('nat',95),('eric',100),('audrey',90)] )
print(grades)
print(len(grades))

{'jack': 90, 'jill': 100, 'joe': 99, 'nat': 95, 'eric': 100, 'audrey': 90}
6

In [81]:
# create a dictionary using dictionary instantiator - 2
grades = dict( jack=90, jill=100, joe=99, nat=95, eric=100, audrey=90 )
print(grades)
print(len(grades))

{'jack': 90, 'jill': 100, 'joe': 99, 'nat': 95, 'eric': 100, 'audrey': 90}
6

In [82]:
# get all keys
print(grades.keys())

dict_keys(['jack', 'jill', 'joe', 'nat', 'eric', 'audrey'])

In [83]:
# get all sorted key
print(sorted(grades.keys()))

['audrey', 'eric', 'jack', 'jill', 'joe', 'nat']

In [84]:
# querying
print(grades['nat'])

95

In [85]:
grades['audrey'] = 93
print(grades)

{'jack': 90, 'jill': 100, 'joe': 99, 'nat': 95, 'eric': 100, 'audrey': 93}

In [86]:
del grades['jack']
print(grades)

{'jill': 100, 'joe': 99, 'nat': 95, 'eric': 100, 'audrey': 93}

In [87]:
# check if a key exists
print('eric' in grades)

True

## Loops and Comparisons

In [88]:
# for loop for dictionary
for key, value in grades.items():
    print(key, value)

jill 100
joe 99
nat 95
eric 100
audrey 93

In [89]:
# for loop for list
points = [90, 100, 99, 95, 100, 90]
for index, value in enumerate(points):
    print(index,value)

0 90
1 100
2 99
3 95
4 100
5 90

In [90]:
# zip through two list
names = ['jack', 'jill', 'joseph', 'natasha', 'eric', 'audrey']
points = [90, 100, 99, 95, 100, 90]
for n, p in zip(names, points):
    print(n, p)

jack 90
jill 100
joseph 99
natasha 95
eric 100
audrey 90

In [91]:
# sorted
for x in sorted(grades.keys()):
    print(x)

audrey
eric
jill
joe
nat

In [92]:
for x in reversed(sorted(grades.keys())):
    print(x)

nat
joe
jill
eric
audrey

In [93]:
print((1,2,3) < (1,2,4))

True

In [94]:
print([1,2,3] < [1,2,4])

True

In [95]:
print('ABC' < 'C' < 'Pascal' < 'Python')

True

In [96]:
print((1,2,3,4) < (1,2,4))

True

In [97]:
print((1,2) < (1,2,-1))

True

In [98]:
print((1, 2, 3) == (1.0, 2.0, 3.0))

True

In [99]:
print( (1,2,('aa', 'ab')) < (1,2,('abc','a'),4) )

True

---

## Exercises 3

### Exercise Set 1

In [100]:
for i in range(5):
    print('Hello')

Hello
Hello
Hello
Hello
Hello

In [101]:
for i in range(5):
    print(i)

0
1
2
3
4

In [102]:
for i in range(5):
    print(i)
    print('Hello')

0
Hello
1
Hello
2
Hello
3
Hello
4
Hello

### Exercise Set 2

In [103]:
strg = 'Sundevils'
for i in range(len(strg)):
    print(i, strg[i])

0 S
1 u
2 n
3 d
4 e
5 v
6 i
7 l
8 s

In [104]:
lst = [10, 20, 30]
for i in range(len(lst)):
    print(i, lst[i])

for l in lst:
    print(l)

0 10
1 20
2 30
10
20
30

In [105]:
lst1 = [10, 20, 30]
lst2 = [100, 200, 300]
for i in range(len(lst1)):
    print(i, lst1[i], lst2[i])

for l1, l2 in zip(lst1, lst2):
    print(l1, l2)

0 10 100
1 20 200
2 30 300
10 100
20 200
30 300

In [106]:
mydictionary = {'A': 100, 'B': 200, 'C':300}
for k in sorted(mydictionary.keys()):
    print(k, mydictionary[k])

for k in reversed(sorted(mydictionary.keys())):
    print(k, mydictionary[k])

A 100
B 200
C 300
C 300
B 200
A 100

In [107]:
sumi = 0
for i in range(5):
    sumi = sumi + i
    print(i, sumi)

print(sumi)

0 0
1 1
2 3
3 6
4 10
10

### Exercise Set 3
- Let’s say you had a list:<br>
P = [10, 20, 30]
- Use a “for” loop with the range function to find the sum of the elements of the list.
- Print the index, list element, and sum in each iteration of the “for” loop
- Print the final sum.

In [108]:
P = [10, 20, 30]

sumP = 0
for i in range(len(P)):
    sumP += P[i]
    print(i, P[i], sumP)

print(sumP)

0 10 10
1 20 30
2 30 60
60

### Exercise Set 4
- Let’s sat you had two lists: <br>
P = [1, 2, 3] <br>
Q = [10, 20, 30]
- Use a single “for” loop with the range function to find the sums of the elements of the two lists.
- Print the two lists, and sum of the elements for the two lists, in user-friendly format

In [109]:
P = [1,2,3]
Q = [10,20,30]
sumP = 0
sumQ = 0
sumPQ = 0

for i in range(len(P)):
    sumP += P[i]
    sumQ += Q[i]
    sumPQ += P[i] + Q[i]
    print('Number #', i, 'Element in the list')
    print('Current P value :', P[i], 'Current Q value :', Q[i])
    print('current sum of P :', sumP)
    print('current sum of Q :', sumQ)
    print('Current sum of both lists P and Q:', sumPQ)
    print()

Number # 0 Element in the list
Current P value : 1 Current Q value : 10
current sum of P : 1
current sum of Q : 10
Current sum of both lists P and Q: 11

Number # 1 Element in the list
Current P value : 2 Current Q value : 20
current sum of P : 3
current sum of Q : 30
Current sum of both lists P and Q: 33

Number # 2 Element in the list
Current P value : 3 Current Q value : 30
current sum of P : 6
current sum of Q : 60
Current sum of both lists P and Q: 66

### Exercise Set 5
- Let’s sat you had two lists: <br>
P = [1, 2, 3] <br>
Q = [10, 20, 30]
- Use a single “for” loop with the range function to find the Manhattan distance between the two lists.
- Print the two lists, Manhattan distance between the two lists, in user-friendly format

In [110]:
P = [1,2,3]
Q = [10,20,30]

Manhattan = 0

for i in range(3):
    Manhattan += math.fabs(Q[i] - P[i])
    print('P[',i,'] =', P[i])
    print('Q[',i,'] =', Q[i])
    print("Distance between P[",i,"] and Q[",i,"] is:",Q[i] - P[i] )

print()
print('The Manhattan Distance Between P and Q is:', round(Manhattan,2))

P[ 0 ] = 1
Q[ 0 ] = 10
Distance between P[ 0 ] and Q[ 0 ] is: 9
P[ 1 ] = 2
Q[ 1 ] = 20
Distance between P[ 1 ] and Q[ 1 ] is: 18
P[ 2 ] = 3
Q[ 2 ] = 30
Distance between P[ 2 ] and Q[ 2 ] is: 27

The Manhattan Distance Between P and Q is: 54.0

### Exercise Set 6
- Let’s sat you had two lists:
  - P = [1, 2, 3]
  - Q = [10, 20, 30]
- Use a single “for” loop with the range function to find the Manhattan, Euclidean, and Minkowski (r=3) distances between the two lists.
- Print the two lists, and the Manhattan, Euclidean and Minkowski (r=3) distances between the two lists, in user-friendly format

In [111]:
P = [1,2,3]
Q = [10,20,30]

Manhattan = 0 
Euclidean = 0
Minkowski = 0
r = 3

for i in range(3):
    print('P[',i,'] =', P[i])
    print('Q[',i,'] =', Q[i])
    Manhattan += math.fabs(Q[i] - P[i])
    Euclidean += math.fabs((Q[i] ** 2) - (P[i] **2))
    Minkowski += math.fabs((Q[i] ** r) - (P[i] **r))
    print('Manhattan:', Manhattan)
    print('Euclidean:', Euclidean)
    print('Minkowski:', Minkowski)
    print()

print()
print('Final')
print('Manhattan:', round(Manhattan,2))
print('Euclidean:', round(Euclidean ** 0.5, 2))
print('Minkowski:', round(Minkowski ** (1/r),2))

P[ 0 ] = 1
Q[ 0 ] = 10
Manhattan: 9.0
Euclidean: 99.0
Minkowski: 999.0

P[ 1 ] = 2
Q[ 1 ] = 20
Manhattan: 27.0
Euclidean: 495.0
Minkowski: 8991.0

P[ 2 ] = 3
Q[ 2 ] = 30
Manhattan: 54.0
Euclidean: 1386.0
Minkowski: 35964.0


Final
Manhattan: 54.0
Euclidean: 37.23
Minkowski: 33.01

### Exercise Set 7
- Let’s say we have two lists:
  - P = [1, 2, 3, 4, 5]
  - Q = [10, 20, 30, 40, 50]
- Pearson Correlation (computationally efficient form):
<p style="text-align:center;">
    $r = \frac{{}\sum_{i=1}^{n-1} (p_i q_i) - \frac{\sum_{i=1}^{n} p_i \sum_{i=1}^{n} p_i}{n}}
    { \sqrt{ \sum_{i=1}^{n} p_i^2 - \frac{(\sum_{i=1}^{n} p_i)^2}{n}} \sqrt{ \sum_{i=1}^{n} q_i^2 - \frac{(\sum_{i=1}^{n} q_i)^2}{n} }}$
</p>

- Use a single for loop and zip function to calculate the Pearson Correlation between the two lists.

In [112]:
P = [1, 2, 3, 4, 5]
Q = [10, 20, 30, 40, 50]
n = 5

sumPQ = 0
sumP = 0
sumQ = 0
sumP2 = 0
sumQ2 = 0

for p, q in zip(P, Q):
    sumPQ += p*q
    sumP += p
    sumQ += q
    sumP2 += p**2
    sumQ2 += q**2

print(sumPQ)
print(sumP)
print(sumQ)
print(sumP2)
print(sumQ2)


# Numerator and Denominator
nr = sumPQ - ((sumP * sumQ) / n)
dr = pow(sumP2 - ((sumP)**2 / n), 0.5) * pow(sumQ2 - ((sumQ)**2 / n), 0.5)

# pearson correlation
Pearson = nr/dr

print('P = ', P)
print('Q = ', Q)
print('Pearson Correlation =', round(Pearson, 2))

550
15
150
55
5500
P =  [1, 2, 3, 4, 5]
Q =  [10, 20, 30, 40, 50]
Pearson Correlation = 1.0

### Exercise Set 8
- Let’s say User X has rated 5 items (A, B, C, D, E):
  - UserXRatingsD = {‘A’:1, ‘B’:2, ‘C’:3, ‘D’:4, ‘E’:5}
- Write a for loop to iterate through the ratings dictionary and print the items and ratings, with keys in sorted order.

In [113]:
UserXRatingsD = {'A':1, 'B':2, 'C':3, 'D':4, 'E':5}
for i in sorted(UserXRatingsD.keys()):
    print(i, UserXRatingsD[i])

A 1
B 2
C 3
D 4
E 5

### Exercise Set 9
- Let’s say Users X and Y have rated 5 items (A, B, C, D, E):
  - UserXRatingsD = {‘A’:1, ‘B’:2, ‘C’:3, ‘D’:4, ‘E’:5}
  - UserYRatingsD = {‘A’:10, ‘B’:20, ‘C’:30, ‘D’:40, ‘E’:50}
- Use a single for loop to iterate through the ratings dictionary and print the items and ratings, with keys in sorted order.

In [114]:
UserXRatingsD = {'A':1, 'B':2, 'C':3, 'D':4, 'E':5}
UserYRatingsD = {'A':10, 'B':20, 'C':30, 'D':40, 'E':50}

for i in sorted(UserXRatingsD.keys()):
    print(i, UserXRatingsD[i], UserYRatingsD[i])

A 1 10
B 2 20
C 3 30
D 4 40
E 5 50

### Exercise Set 10
- Let’s say Users X and Y have rated 5 items (A, B, C, D, E):
  - UserXRatingsD = {‘A’:1, ‘B’:2, ‘C’:3, ‘D’:4, ‘E’:5}
  - UserYRatingsD = {‘A’:10, ‘B’:20, ‘C’:30, ‘D’:40, ‘E’:50}
- Use a single for loop to iterate through the ratings and find the Manhattan Distance between the ratings.

In [115]:
UserXRatingsD = {'A':1, 'B':2, 'C':3, 'D':4, 'E':5}
UserYRatingsD = {'A':10, 'B':20, 'C':30, 'D':40, 'E':50}

MD = 0
for i in sorted(UserXRatingsD.keys()):
    MD += math.fabs(UserXRatingsD[i] - UserYRatingsD[i])

print(round(MD,2))

135.0

### Exercise Set 11
- Let’s say Users X and Y have rated 5 items (A, B, C, D, E):
  - UserRatingsND = {‘X’: {‘A’:10, ‘B’:20, ‘C’:30, ‘D’:40, ‘E’:50},‘Y’: {‘A’:100, ‘B’:200, ‘C’:300, ‘D’:400, ‘E’:500}}
- Assign the User X item-ratings to a dictionary called UserXRatingsD, and the User Y item-ratings to a dictionary called UserYRatingsD.
- Use a single for loop to iterate through UserXRatingsD and print the items and ratings, with keys in sorted order.

In [116]:
UserRatingsND = {'X':{'A':10, 'B':20, 'C':30, 'D':40, 'E':50},
                 'Y':{'A':100, 'B':200, 'C':300, 'D':400, 'E':500}}

UserXRatingsD = UserRatingsND['X']
UserYRatingsD = UserRatingsND['Y']

for k in sorted(UserXRatingsD.keys()):
    print(k, UserXRatingsD[k], UserYRatingsD[k])

A 10 100
B 20 200
C 30 300
D 40 400
E 50 500

---

## Control Flow and Functions

[Control Flow Tutorial](https://docs.python.org/3/tutorial/controlflow.html)

### `while` loop

Evaluate the condition, run (iterate) when `true`.

In [117]:
i = 0
while (i < 5):
    print('inside while loop:',i)
    i += 1 # increment by 1

print('Final value of i =', i)

inside while loop: 0
inside while loop: 1
inside while loop: 2
inside while loop: 3
inside while loop: 4
Final value of i = 5

In [118]:
# in comparison with for loop
for i in range(5):
    print('inside while loop:',i)

inside while loop: 0
inside while loop: 1
inside while loop: 2
inside while loop: 3
inside while loop: 4

In [119]:
a, b = 0, 1
while (b < 100):
    print(b, end=', ')
    a, b = b, a + b

print()
print('Final Value of a, b = ', a, b, 'repectively')

1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89,
Final Value of a, b =  89 144 repectively

### `if`, `elif`, `else` statement

`if ` runs when `true`, else pass it onto the next testing condition (`elif` or `else` for every `elif` has not been run)

In [120]:
words = 'Python'

print('First Test')
if (words.startswith('P')):
    print('Words start with P')
elif (words.endswith('n')):
    print('Words end with n') # will not run

print()


print('Second Test')
if (words.startswith('J')):
    print('Words start with J') # will not run
elif (words.endswith('n')):
    print('Words end with n')

    
print()
print('Third Test')
if (words.startswith('J')):
    print('Words start with J') # will not run
elif (words.endswith('y')):
    print('Words end with y') # will not run
else:
    print('Unknown words')

First Test
Words start with P

Second Test
Words end with n

Third Test
Unknown words

### `for` loop

Loop through iterables (list, tuple, string)

In [121]:
pets = ['cat', 'dog', 'cow', 'parrot', 'hamster', 'goat']
for p in pets:
    print(p, len(p))

cat 3
dog 3
cow 3
parrot 6
hamster 7
goat 4

### `break` statement

break (stop) the loop

In [122]:
print('without break')
for n in range(1,10):
    if n % 2 == 0:
        print('Found even number', n)
    else:
        print('value of n is', n)

print()
print('with break')
for n in range(1,10):
    if n % 2 == 0:
        print('Found even number', n)
        break

without break
value of n is 1
Found even number 2
value of n is 3
Found even number 4
value of n is 5
Found even number 6
value of n is 7
Found even number 8
value of n is 9

with break
Found even number 2

In [123]:
for n in range(1,10,2):
    if n % 2 == 0:
        print('found even number', n)
        break
else:
    print('all numbers are odds number')

all numbers are odds number

## `continue` statement

`continue` statement stops this iteration and starts the next iteration from the beginning

In [124]:
print('with continue')
for n in range(10):
    if n % 2 == 0:
        print('found even number', n)
        continue
    print('not even number', n) # wont run when n is even

print()
print('without continue')
for n in range(10):
    if n % 2 == 0:
        print('found even number', n)
    print('number', n) # run every time

with continue
found even number 0
not even number 1
found even number 2
not even number 3
found even number 4
not even number 5
found even number 6
not even number 7
found even number 8
not even number 9

without continue
found even number 0
number 0
number 1
found even number 2
number 2
number 3
found even number 4
number 4
number 5
found even number 6
number 6
number 7
found even number 8
number 8
number 9

### `pass` statement

Basically means I'm doing nothing. <br>
Think of it as a placeholder when you're testing your code but don't want anything else to run

In [125]:
# while (True):    # infinite loop
#     pass         # will not return anything but still running (until you kill it!)

In [126]:
# test
for i in range(1, -10, 2):
    print(i, end=', ')

print(' ----------- ')

n = -1
while n < 10:
    print(n)
    n += 1

print(' ----------- ')

if (5 < 3):
    print('condition is True')
else:
    print('condition is False')

 -----------
-1
0
1
2
3
4
5
6
7
8
9
 -----------
condition is False

## Detour: Objects, Names & Bindings

- **Mutable Objects**
  - A mutable object exhibit time-varying behavior
  - Changes to a mutable object are visible through all **Names Bound** to it
  - e.g. Python **List**

> this is allowed <br>
> `myList = [1, 2, 3]
myList[0] = 2`

- **Immutable Obejcts**
  - A immutable object exhibit non time-varying behavior
  - The value of immutable object cannot be modified after they are created
  - They can, however, be used to compute the values of new objects
  - e.g. **string, integer**

> this is not allowed <br>
> `myWord = 'Fred'
myWord[0] = 'B'`


- What we commonly refer to as ***variables*** in Python are more properly called **Names**
- Likewise, ***assignment*** is really the **Binding** of a **Name** to an **Object**
- Each Binding has a Scope that defines its visibility (usually the Block which Name originates)


- Simply put, when you ASSIGN a VARIABLE, what you're really doing is **CREATE AN OBJECT and A HANDLE(Name) at the same time, and BIND them together**. An object can be bound with multiple HANDLES(names), but a handle can only bind to an OBJECT. When you update something, it's being done on the OBJECT through using the HANDLES(names)

In [127]:

some_guy = 'Fred'

first_names = []

first_names.append(some_guy)

another_list_of_first_names = first_names

another_list_of_first_names.append('George')

some_guy = 'Bill'

print(some_guy)
print(first_names)
print(another_list_of_first_names)

Bill
['Fred', 'George']
['Fred', 'George']

In [128]:
a = [1,2,3]
b = a
print(b is a) # check if both name bing to same object

b[2] = 10
print(b is a)
print('a =', a)
print('b =', b)

True
True
a = [1, 2, 10]
b = [1, 2, 10]

In [129]:
a = [1, 2, 3] # 1st object
c = [] # 2nd object

c[:] = a[:] # take all the "ELEMENTS" in 'a (1st object)' and copy it to 'c (2nd object)'

print(c is a) # they are in two different location of memory!

c[2] = 10 # modify 2nd object

print('a =', a)
print('c =', c)

False
a = [1, 2, 3]
c = [1, 2, 10]

---

## Functions

In [130]:
def fib(n):
    # n is the input parameter
    # what it does:
    result = []
    a, b = 0, 1
    
    # n here means the number of time of the iteration
    for i in range(n):
        result.append(b)
        a, b = b, a+b
    
    # what will I get back when I call a function
    return result

In [131]:
print(fib.__doc__)

None

In [132]:
print(fib(10))
print(len(fib(10)))
print()

print(fib(15))
print(len(fib(15)))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
10

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]
15

In [133]:
print(fib(10)[9])

55

In [134]:
def foo(bar):
    print(bar)
    bar = 'new value' # immutable
    print(bar)

answer = 'old value'
foo(answer)

print(answer)

old value
new value
old value

In [135]:
def foo(bar):
    print(bar)
    bar.append(42) # mutable
    print(bar)

answer_list = []
foo(answer_list)

print(answer_list)

[]
[42]
[42]

### `global`

In [136]:
def demoFunc (arg1, arg2):
    
    # declare local variables
    a1, a2 = -100, -200
    
    # declare global variables
    global a3
    a3 = -300
    
    print('demoFunc:', a1, a2, a3)


a1, a2, a3 = 10, 20, 30
print('#1 Main:', a1, a2, a3)

demoFunc(a1, a2)
print('#2 Main:', a1, a2, a3, '        -> a3 assigned with -300')

a1, a2, a3 = a1+5 , a2+5, 35
print('#3 Main:', a1, a2, a3, '          -> a3 assigned with 35')

demoFunc(a1, a2)
print('#4 Main:', a1, a2, a3, '        -> a3 reassigned with -300 again')

#1 Main: 10 20 30
demoFunc: -100 -200 -300
#2 Main: 10 20 -300         -> a3 assigned with -300
#3 Main: 15 25 35           -> a3 assigned with 35
demoFunc: -100 -200 -300
#4 Main: 15 25 -300         -> a3 reassigned with -300 again

### Default Argument, Positional Argument & Keyword Argument

In [137]:
def func (arg1, arg2=0, arg3=-1, arg4=0):
    print(arg1, arg2, arg3, arg4)

func(1000)                        # 1 positional argument
func(arg1 = 10)                   # 1 keyword argument
func(arg1 = 10, arg2 = 100)       # 2 keyword argument
func(arg2 = 100, arg1 = 10)       # 2 keyword argument
func(10,100,1000)                 # 3 positional argument
func(10, arg2 = 100)              # 1 positional argument, 1 keyword argument

# note that positional argument always comes first

1000 0 -1 0
10 0 -1 0
10 100 -1 0
10 100 -1 0
10 100 1000 0
10 100 -1 0

In [138]:
def foo (*positional, **keywords):
    print('Positional', positional)
    print('Keywords', keywords)

foo('one', 'two', 'three')
print()
foo(a='one', b='two', c='three')
print()
foo('one', 'two', c='three', d='four')

Positional ('one', 'two', 'three')
Keywords {}

Positional ()
Keywords {'a': 'one', 'b': 'two', 'c': 'three'}

Positional ('one', 'two')
Keywords {'c': 'three', 'd': 'four'}

In [139]:
def isNumberInRange(num, i=25, n=100):
    if num in range(i, n):
        print('Found!')
    else:
        print('Not Found')

isNumberInRange(20)
isNumberInRange(20,0)
isNumberInRange(20,0,10)
print()

Not Found
Found!
Not Found

In [140]:
def lstAppend(a, L=[]):
    L.append(a)
    return L
print(lstAppend(1))
print(lstAppend(2))
print(lstAppend(3))
print(lstAppend(2))
print(lstAppend(1))

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 2]
[1, 2, 3, 2, 1]

In [141]:
def lstAppend(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

print(lstAppend(1))
print(lstAppend(2))
print(lstAppend(3))
print(lstAppend(2))
print(lstAppend(1))

[1]
[2]
[3]
[2]
[1]

---

## Exercises 4

### Exercise Set 1

In [142]:
num = 10

print('before if statement')

if (num == 10):
    print('inside if statement')
    print(num)

print('after if statement')

before if statement
inside if statement
10
after if statement

In [143]:
num = 20

print('before if statement')

if (num == 10):
    print('inside if statement')
    print(num)

print('after if statement')

before if statement
after if statement

In [144]:
num1 = 10
num2 = 20

print('before if statement')

if (num1 == 10 and num2 == 10):
    print('inside if statement')
    print(num1, num2)

print('after if statement')

before if statement
after if statement

In [145]:
num1 = 10
num2 = 20

print('before if statement')

if (num1 == 10 or num2 == 10):
    print('inside if statement')
    print(num1, num2)

print('after if statement')

before if statement
inside if statement
10 20
after if statement

### Exercise Set 2

In [146]:
UserXRatingsD = {'A': 1,
                 'B': 2,
                 'C': 3,
                 'D': 4,
                 'E': 5}

print('before if statement')

if ('Z' in UserXRatingsD.keys()):
    print('key found')

print('after if statement')

before if statement
after if statement

### Exercise Set 3

In [147]:
for i in range(10):
    if (i % 2 == 0):
        print(i)

0
2
4
6
8

### Exercise Set 4
- Let’s say Users X and Y have rated 5 items (A, B, C, D, E):
  - UserXRatingsD = {‘A’:1, ‘B’:2, ‘C’:3, ‘D’:4, ‘E’:5}
  - UserYRatingsD = {‘A’:10, ‘B’:20, ‘D’:40, ‘E’:50}
- Use a single for loop to iterate through the ratings dictionary and print the items and ratings, with keys in sorted order – but print the item and ratings only if the item was rated by both users.

In [148]:
UserXRatingsD = {'A': 1,
                 'B': 2,
                 'C': 3,
                 'D': 4,
                 'E': 5}

UserYRatingsD = {'A': 10,
                 'B': 20,
                 'D': 40,
                 'E': 50}
for i in sorted(UserXRatingsD.keys()):
    if i in UserYRatingsD.keys():
        print(i, UserXRatingsD[i], UserYRatingsD[i])

A 1 10
B 2 20
D 4 40
E 5 50

### Exercise Set 5
- Let’s say we have two lists:
  - UserXRatings = [1, 2, 3, 4, 5]
  - UserYRatings = [10, 20, 30, 40, 50]
- Use a for loop and zip function to iterate through the two lists and print corresponding elements:

In [149]:
UserXRatings = [1, 2, 3, 4, 5]
UserYRatings = [10, 20, 30, 40, 50]

for x, y in zip(UserXRatings, UserYRatings):
    print(x, y)

1 10
2 20
3 30
4 40
5 50

### Exercise Set 6
- Let’s say we have two lists:
  - UserXRatings = [1, 2, 3, 4, 5]
  - UserYRatings = [10, 20, 30, 40, 50]
- Write a function to calculate and return the Minkowski Distance:
  - minkowskiL (ratings1, ratings2, r)
  - check for common errors/boundary conditions
- Call the function as follows, and print the returned values:

In [150]:
UserXRatings = [1, 2, 3, 4, 5]
UserYRatings = [10, 20, 30, 40, 50]

def minkowskiL (ratings1, ratings2, r):
    
    total = 0
    
    if len(ratings1) != len(ratings2):
        print('Two inputs do now have the same length')
    elif r < 1:
        print('Value r must be an positive integer')
    else:
        for i in range(len(ratings1)):
            total += (abs(ratings1[i] - ratings2[i]) ** r)

    total = round(total ** (1/r), 2)
    return total

In [151]:
print(minkowskiL(UserXRatings, UserYRatings, 1))
print(minkowskiL(UserXRatings, UserYRatings, 2))
print(minkowskiL(UserXRatings, UserYRatings, 3))

135.0
66.75
54.74

In [152]:
UserXRatingsD = {'A': 1,
                 'B': 2,
                 'C': 3,
                 'D': 4,
                 'E': 5}

UserYRatingsD = {'A': 10,
                 'B': 20,
                 'D': 40,
                 'E': 50}


def minkowskiD (ratingsD1, ratingsD2, r):
    
    total = 0
    inner = ratingsD1.keys() & ratingsD2.keys()
    
    if r < 1:
        print('Value r must be an positive integer')
    else:
        for i in inner:
            total += (abs(ratingsD1[i] - ratingsD2[i]) ** r)
    
    total = round(total ** (1/r), 2)
    
    return total

In [153]:
print(minkowskiD(UserXRatingsD, UserYRatingsD, 1))
print(minkowskiD(UserXRatingsD, UserYRatingsD, 2))
print(minkowskiD(UserXRatingsD, UserYRatingsD, 3))

108.0
61.04
52.46

---

## Modules

A group of functions saved in a script so it is made available for users to re-use.

saved as **'fibmod.py'**

#### Namespace
- name to object bindings
- when we import a module, we can access that namespace within the module

#### Scope
*e.g. local variable & global variable*

In [154]:
# create script fibmod.py with a function fib()

# def fib(n):
#     a, b = 0, 1
#     while b < n:
#         print(b, end=' ')
#         a, b = b, a+b
#     print()

In [155]:
import fibmod

In [156]:
fibmod.fib(10)

1 1 2 3 5 8

In [157]:
from fibmod import fib

In [158]:
fib(20)

1 1 2 3 5 8 13

---

## Input & Output

#### input through:
1. argument
2. console (user input)
3. from a file (data analyst use the most)

In [159]:
# # 1. argument (cmdline)

# # script
# from sys import argv
# print(argv)

# # commend line
# runfile ('test.py', args='a b c')
# return:
# -> ['test.py', 'a', 'b', 'c']

# # unpack argv
# script, var1, var2, var3 = argv
# print(script, var1, var2, var3)

In [160]:
# # 2. console (stdin)
yourName = input('Write Your Name: ')
yourBirthday = input('Write Your Birthday: ')

print()
print(yourName, yourBirthday)

Write Your Name: johnnylee
Write Your Birthday: 1992

johnnylee 1992

In [161]:
# # 3. file i/o
text = open('text.txt','r')

print(text.read())

abc
def
ghi
jkl
mno

In [162]:
# # 3. file i/o (line by line)
text = open('text.txt','r')

text.seek(0) # reset the location (python keep track of the offset location)

print(text.readline())

abc

In [163]:
# # 3. file i/o (line by line without the SEEK function)
text = open('text.txt','r')

print(text.readline()) # print the first line
print(text.readline()) # print the second line

abc

def

In [164]:
text = open('text.txt','r')

text.seek(0)

for ln in text:
    print(ln, end='')

abc
def
ghi
jkl
mno

In [165]:
# close to release the computing resources
text.close()

#### output through
1. console
2. through a file

In [166]:
# append(a) --> adding
textA = open('text.txt', 'a')

textA.write('\nHello')
textA.write('\nWorld')
textA.close()

textR = open('text.txt', 'r')
print(textR.read())
textR.close()

abc
def
ghi
jkl
mno
Hello
World

In [167]:
# write(w) --> rewriting
textW = open('text.txt', 'w')

textW.write('Hello\n')
textW.write('World\n')
textW.close()

textR = open('text.txt', 'r')
print(textR.read())
textR.close()

Hello
World

In [168]:
# before you imput a file, check for existence
from os.path import exists
if (exists('text.txt')):
    print('file exists')

file exists

---

## Classes

Look with an example

- `__init__` must be called __init__
- first arg must be `self`

In [169]:
class Dog:                                   # definition
    
    """ This class defines dogs"""           # class summary
    
    code = 123                               # class-variable for data shared by all instance
    kind = 'Canine'                          # class-variable for data shared by all instance
    
    def __init__ (self, name, age = -1):     # class instantiation method
        print('In the instantiation method')
        self.name = name                     # instance-variable : for data unique to each instance
        self.age = age                       # instance-variable : for data unique to each instance
        self.tricks = []                     # instance-variable : for data unique to each instance
    
    def bark (self):                         # method
        print('In the bark method')
        if 'bark' in self.tricks:
            print('... Ruff Ruff...')
        else:
            print('... Silence ...')
    
    def add_tricks (self, trick):            # method
        print('In the add_tricks method')
        self.tricks.append(trick)

In [170]:
fido = Dog('Fido', 5) # instantiating an object of class Dog with name = 'Fido', age = 5, tricks = [] (empty list)
print()
fido.add_tricks('row over')
print()
fido.add_tricks('play dead')
print()
print(fido.name)
print(fido.code)
print(fido.kind)
print(fido.age)
print(fido.tricks)

print()
fido.bark()

In the instantiation method

In the add_tricks method

In the add_tricks method

Fido
123
Canine
5
['row over', 'play dead']

In the bark method
... Silence ...

In [171]:
buddy = Dog('buddy', 10)
print()
buddy.add_tricks('bark')
print()
print(buddy.name, buddy.code, buddy.kind, buddy.age, buddy.tricks)
print()
buddy.bark()

In the instantiation method

In the add_tricks method

buddy 123 Canine 10 ['bark']

In the bark method
... Ruff Ruff...

#### Concept of inheritance

In [172]:
class Parent():                         # base class
    
    def __init__ (self):
        print('instantiating based class')
    def Height(self):
        print("I'm tall")
    def HairColor(self):
        print("I have black hair")

class Children(Parent):
    
    def __init__ (self):
        print('instantiating derived class')
    
    def HairColor(self):                 # overriding based class function
        print('I have blonde hair')

In [173]:
mom = Parent()
mom.Height()
mom.HairColor()
print()
daughter = Children()
daughter.Height()
daughter.HairColor()
print()

instantiating based class
I'm tall
I have black hair

instantiating derived class
I'm tall
I have blonde hair

## Exceptions and Errors

In [174]:
# # example of sytax error
# for i in range(10)
#     print(i)

# # example of Zero devision error
# def foo():
#     print(1/0)
# foo()

--- 
## Things to read
- [datetime](https://docs.python.org/3/library/datetime.html)
- [regex](https://docs.python.org/3/library/re.html)
- [math](https://docs.python.org/3/library/math.html)
- [random](https://docs.python.org/3/library/random.html)
- [statistics](https://docs.python.org/3/library/statistics.html)

---

## Exercise 5

### Exercise Set 1

- Let’s say you have two lists:
  - lstA = [1, 2, 3, 4, 5]
  - lstB = [10, 20, 30, 40, 50]
- Write a single for loop to add corresponding elements of the two lists, and put the result in another list called lstC
- Then execute the following code:
`print (lstC)`

In [175]:
lstA = [1,2,3,4,5]
lstB = [10,20,30,40,50]
lstC = []
for a, b in zip(lstA, lstB):
    lstC.append(a+b)
print(lstC)

[11, 22, 33, 44, 55]

Exercise
- Write a function called `addLists` that **takes two lists as parameters**, uses a single for loop to add corresponding elements of the two lists, and returns the resulting list
- Then execute the following code:
  - `lstA = [1, 2, 3, 4, 5]`
  - `lstB = [10, 20, 30, 40, 50]`
  - `lstC = addLists (lstA, lstB)`
  - `print (lstC)`

In [176]:
def addLists(lst1, lst2):
    lst3 = []
    for i, j in zip(lst1, lst2):
        lst3.append(i+j)
    return lst3

lstA = [1, 2, 3, 4, 5]
lstB = [10, 20, 30, 40, 50]
lstC = addLists (lstA, lstB)
print (lstC)

[11, 22, 33, 44, 55]

### Exercise Set 3
-  Write a **class** called `listComposites` that can be **instantiated with two lists**. Then write a class method called addLists that uses a single for loop to add corresponding elements of the two lists, and returns the resulting list
- Then execute the following code:
  - `lstA = [1, 2, 3, 4, 5]`
  - `lstB = [10, 20, 30, 40, 50]`
  - `lc = listComposites(lstA, lstB)`
  - `lstC = lc.addLists()`
  - `print (lstC)`

In [177]:
class listComposites():
    
    def __init__ (self, l1, l2):
#         print('init')
        self.l1 = l1
        self.l2 = l2
    
    def addLists(self):
#         print('addLists')
        l3 = []
        for i, j in zip(self.l1, self.l2):
            l3.append(i+j)
        return l3

In [178]:
lstA = [1, 2, 3, 4, 5]
lstB = [10, 20, 30, 40, 50]

lc = listComposites(lstA, lstB)

lstC = lc.addLists()
print (lstC)

[11, 22, 33, 44, 55]

### Exercise Set 4
- Include another **class method** called `subLists` that uses a single for loop to **subtract** corresponding elements of the two lists, and returns the resulting list
- Then execute the following code:
  - `lstA = [1, 2, 3, 4, 5]`
  - `lstB = [10, 20, 30, 40, 50]`
  - `lc = listComposites(lstA, lstB)`
  - `lstC = lc.addLists()`
  - `print (lstC)`
  - `lstC = lc.subLists()`
  - `print (lstC)`

In [179]:
class listComposites():
    
    def __init__ (self, l1, l2):
#         print('init')
        self.l1 = l1
        self.l2 = l2
    
    def addLists(self):
#         print('addLists')
        l3 = []
        for i, j in zip(self.l1, self.l2):
            l3.append(i+j)
        return l3
    
    def subLists(self):
        l4 = []
        for i, j in zip(self.l1, self.l2):
            l4.append(i-j)
        return l4

In [180]:
lstA = [1, 2, 3, 4, 5]
lstB = [10, 20, 30, 40, 50]
lc = listComposites(lstA, lstB)
lstC = lc.addLists()
print (lstC)
lstC = lc.subLists()
print (lstC)

[11, 22, 33, 44, 55]
[-9, -18, -27, -36, -45]

- Put the class definition in a module called listModule.
- Then execute the following code:
  - `lstA = [1, 2, 3, 4, 5]`
  - `lstB = [10, 20, 30, 40, 50]`
  - `lc = listModule.listComposites(lstA, lstB)`
  - `lstC = lc.addLists()`
  - `print (lstC)`
  - `lstC = lc.subLists()`
  - `print (lstC)`

In [181]:
# create listModule.py
# class listComposites():
    
#     def __init__ (self, l1, l2):
#         self.l1 = l1
#         self.l2 = l2
    
#     def addLists(self):
#         l3 = []
#         for i, j in zip(self.l1, self.l2):
#             l3.append(i+j)
#         return l3
    
#     def subLists(self):
#         l4 = []
#         for i, j in zip(self.l1, self.l2):
#             l4.append(i-j)
#         return l4

import listModule

lstA = [1, 2, 3, 4, 5]
lstB = [10, 20, 30, 40, 50]
lc = listModule.listComposites(lstA, lstB)
lstC = lc.addLists()
print (lstC)
lstC = lc.subLists()
print (lstC)

[11, 22, 33, 44, 55]
[-9, -18, -27, -36, -45]

--- 

## Exercise 6

In [182]:
var = [45, 30, 21, 50]
sortvar = sorted(var)
print(sortvar)

sortvar = sorted(var, reverse=True)
print(sortvar)

[21, 30, 45, 50]
[50, 45, 30, 21]

In [183]:
from operator import itemgetter

var = [('Carl', 45), ('Amy',30), ('Zack',30), ('Jane',50)]

sortvar = sorted(var)
print(sortvar)

sortvar = sorted(var, key = itemgetter(1))
print(sortvar)

sortvar = sorted(var, key = itemgetter(1), reverse=True)
print(sortvar)

[('Amy', 30), ('Carl', 45), ('Jane', 50), ('Zack', 30)]
[('Amy', 30), ('Zack', 30), ('Carl', 45), ('Jane', 50)]
[('Jane', 50), ('Carl', 45), ('Amy', 30), ('Zack', 30)]

In [184]:
from operator import itemgetter

# dictionary
var = {'Carl': 45, 'Amy':30, 'Zack':30, 'Jane':50}

# use dict.items to transform key:value pairs to tuples
sortvar = sorted(var.items())
print(sortvar)

sortvar = sorted(var.items(), key = itemgetter(1))
print(sortvar)

sortvar = sorted(var.items(), key = itemgetter(1), reverse=True)
print(sortvar)

[('Amy', 30), ('Carl', 45), ('Jane', 50), ('Zack', 30)]
[('Amy', 30), ('Zack', 30), ('Carl', 45), ('Jane', 50)]
[('Jane', 50), ('Carl', 45), ('Amy', 30), ('Zack', 30)]

### Nested Data Structure & Nested For Loop

In [185]:
nl = [[10,20,30], [100,200,300,400], [1000,2000,3000,4000,5000]]

# for i in nl:
#     for ii in i:
#         print(ii)

for i in range(len(nl)):
    for j in range(len(nl[i])):
        print('Element', i, j, 'is: ', nl[i][j])

Element 0 0 is:  10
Element 0 1 is:  20
Element 0 2 is:  30
Element 1 0 is:  100
Element 1 1 is:  200
Element 1 2 is:  300
Element 1 3 is:  400
Element 2 0 is:  1000
Element 2 1 is:  2000
Element 2 2 is:  3000
Element 2 3 is:  4000
Element 2 4 is:  5000

In [186]:
DirectorMovieRatings = {
    'Alfred Hitchcock': {'Family Plot': '6.8', 'Rebecca': '8.2', 'Spellbound': '7.6'}, 
    'Mel Gibson': {'Apocalypto': '7.8', 'Braveheart': '8.4'}, 
    'Mel Brooks': {'Spaceballs': '7.1', 'History of the World: Part I': '6.9'}, 
    'Ang Lee': {'Life of Pi': '8', 'The Ice Storm': '7.5'}, 
    'J.J. Abrams': {'Star Trek': '8', 'Star Trek Into Darkness': '7.8'}, 
    'Clint Eastwood': {'J. Edgar': '6.6', 'The Bridges of Madison County': '7.5'}}

for k, v in DirectorMovieRatings.items():
    print(k)
    for k1, v1 in v.items():
        print('  ',k1, ':', v1)
    print('-'*20)

Alfred Hitchcock
   Family Plot : 6.8
   Rebecca : 8.2
   Spellbound : 7.6
--------------------
Mel Gibson
   Apocalypto : 7.8
   Braveheart : 8.4
--------------------
Mel Brooks
   Spaceballs : 7.1
   History of the World: Part I : 6.9
--------------------
Ang Lee
   Life of Pi : 8
   The Ice Storm : 7.5
--------------------
J.J. Abrams
   Star Trek : 8
   Star Trek Into Darkness : 7.8
--------------------
Clint Eastwood
   J. Edgar : 6.6
   The Bridges of Madison County : 7.5
--------------------

### File

In [187]:
frh = open('imdb.csv','r', encoding='utf-8', errors='ignore')

for line in frh:
    print(line)

frh.close()

color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes

Color,Alfred Hitchcock,50,127,13000,148,John Vernon,204,,Drama|Thriller,Roscoe Lee Browne,Topaz ,12677,753,Philippe Noiret,0,1960s|agent|cuba|intelligence|spy,http://www.imdb.com/title/tt0065112/?ref_=fn_tt_tt_1,89,English,USA,M,4000000,1969,187,6.3,1.85,414

Color,Alfred Hitchcock,110,116,13000,118,Jean Marsh,195,,Thriller,Bernard Cribbins,Frenzy ,30982,771,Clive Swift,0,penknife|police|rape|serial killer|united kingdom,http://www.imdb.com/title/tt0068611/?ref_=fn_tt_tt_1,199,English,UK,R,2000000,1972,146,7.5,1.85,0

Color,Alfred Hitchcock,67,120,13000,416,Bruce Dern,897,,Comedy|Thriller,Ed Lauter,Family Plot ,15293,2811,William Devane,1,actor|diamond|heir|kidnapping|ransom,http://www.imdb.com/title/tt0074512/?ref_=fn_tt_tt_1,111,English,USA,PG,4490375,1976,844,6.8,1.85,609

Color,Alfred Hitchcock,64,128,13000,14,Lila Kedrova,18,,Thriller,Tamara Toumanova,Torn Curtain ,18656,70,David Opatoshu,1,defection|east germany|germany|iron curtain|scientist,http://www.imdb.com/title/tt0061107/?ref_=fn_tt_tt_1,137,English,USA,Approved,6000000,1966,16,6.7,1.85,933

Color,Alfred Hitchcock,97,95,13000,82,Rhonda Fleming,472,,Film-Noir|Mystery|Romance|Thriller,Norman Lloyd,Spellbound ,32927,896,Leo G. Carroll,1,amnesia|dream analysis|dream sequence|guilt complex|post traumatic stress disorder,http://www.imdb.com/title/tt0038109/?ref_=fn_tt_tt_1,161,English,USA,Unrated,1696377,1945,239,7.6,1.37,0

 Black and White,Alfred Hitchcock,144,130,13000,333,Joan Fontaine,1000,,Drama|Film-Noir|Mystery|Thriller,Laurence Olivier,Rebecca ,87424,2888,George Sanders,2,death|estate|housekeeper|love|monte carlo,http://www.imdb.com/title/tt0032976/?ref_=fn_tt_tt_1,276,English,USA,Not Rated,1288000,1940,991,8.2,1.37,0

Color,Alfred Hitchcock,73,99,13000,232,John Forsythe,282,,Comedy|Mystery|Romance,Jerry Mathers,The Trouble with Harry ,24891,1041,Royal Dano,0,artist|death|hunting|sheriff|vermont,http://www.imdb.com/title/tt0048750/?ref_=fn_tt_tt_1,150,English,USA,Approved,1200000,1955,255,7.2,1.5,0

Color,Ang Lee,552,127,0,341,Rafe Spall,774,124976634,Adventure|Drama|Fantasy,Suraj Sharma,Life of Pi ,440084,2121,Tabu,0,animal|faith|india|journey|tiger,http://www.imdb.com/title/tt0454876/?ref_=fn_tt_tt_1,755,English,USA,PG,120000000,2012,358,8,1.85,122000

Color,Ang Lee,95,148,0,0,Jeffrey Dover,3,630779,Drama|Romance|War|Western,Jeremy W. Auman,Ride with the Devil ,11101,5,Tobey Maguire,0,bushwhacker|friend|honor|kansas|raid,http://www.imdb.com/title/tt0134154/?ref_=fn_tt_tt_1,159,English,USA,R,35000000,1999,2,6.8,2.35,633

Color,Ang Lee,210,120,0,210,Kevin Chamberlin,579,7443007,Comedy|Drama|Music,Imelda Staunton,Taking Woodstock ,24663,1500,Demetri Martin,12,female full frontal nudity|female nudity|male frontal nudity|male full frontal nudity|male nudity,http://www.imdb.com/title/tt1127896/?ref_=fn_tt_tt_1,71,English,USA,R,30000000,2009,489,6.7,1.85,0

Color,Ang Lee,124,112,0,177,Kate Burton,805,7837632,Drama,Joan Allen,The Ice Storm ,46396,1466,Henry Czerny,0,ice|ice storm|storm|thanksgiving|virgin,http://www.imdb.com/title/tt0119349/?ref_=fn_tt_tt_1,287,English,USA,R,18000000,1997,223,7.5,1.85,0

Color,Ang Lee,69,136,0,1000,Kate Winslet,25000,42700000,Drama|Romance,Alan Rickman,Sense and Sensibility ,78392,41059,Tom Wilkinson,2,1810s|female protagonist|horseback riding|inheritance|three word title,http://www.imdb.com/title/tt0114388/?ref_=fn_tt_tt_1,196,English,USA,PG,16500000,1995,14000,7.7,1.85,0

Color,Ang Lee,357,134,0,11000,Heath Ledger,15000,83025853,Drama|Romance,Jake Gyllenhaal,Brokeback Mountain ,259837,39789,Anne Hathaway,0,gay relationship|homosexuality|mountain|ranch|rodeo,http://www.imdb.com/title/tt0388795/?ref_=fn_tt_tt_1,2254,English,USA,R,14000000,2005,13000,7.7,1.85,13000

 Black and White,Clint Eastwood,169,130,16000,416,Courtney B. Vance,16000,90454043,Action|Adventure|Thriller,Clint Eastwood,Space Cowboys ,60165,17771,William Devane,1,nasa|old age|satellite|space|space shuttle,http://www.imdb.com/title/tt0186566/?ref_=fn_tt_tt_1,326,English,USA,PG-13,65000000,2000,495,6.4,2.35,0

Color,Clint Eastwood,306,134,16000,204,Morgan Freeman,13000,37479778,Biography|Drama|History|Sport,Matt Damon,Invictus ,124222,24458,Leleti Khumalo,1,apartheid|nation|nelson mandela|president|rugby,http://www.imdb.com/title/tt1057500/?ref_=fn_tt_tt_1,259,English,USA,PG-13,60000000,2009,11000,7.4,2.35,23000

Color,Clint Eastwood,490,133,16000,318,Leonard Roberts,14000,350123553,Action|Biography|Drama|History|Thriller|War,Bradley Cooper,American Sniper ,325264,16277,Keir O'Donnell,0,assassin|death of child|iraq|sniper|sniper rifle,http://www.imdb.com/title/tt2179136/?ref_=fn_tt_tt_1,916,English,USA,R,58800000,2014,962,7.3,2.35,112000

Color,Clint Eastwood,264,141,16000,539,Michael Kelly,11000,35707327,Crime|Drama|Mystery|Thriller,Angelina Jolie Pitt,Changeling ,199056,12840,Colm Feore,0,execution by hanging|los angeles police department|miscarriage of justice|missing child|wrongful conviction,http://www.imdb.com/title/tt0824747/?ref_=fn_tt_tt_1,387,English,USA,R,55000000,2008,963,7.8,2.35,14000

Color,Clint Eastwood,279,135,16000,310,Chris Bauer,23000,33574332,Drama|History|War,Paul Walker,Flags of Our Fathers ,101221,24468,Tom McCarthy,0,imperial japan|japan|japanese army|japanese soldier|world war two,http://www.imdb.com/title/tt0418689/?ref_=fn_tt_tt_1,415,English,USA,R,90000000,2006,638,7.1,2.35,0

Color,Clint Eastwood,76,121,16000,826,Mark Margolis,16000,50007168,Action|Crime|Drama|Thriller,Clint Eastwood,Absolute Power ,39529,19139,Scott Glenn,0,death|death of wife|murder|thief|violence,http://www.imdb.com/title/tt0118548/?ref_=fn_tt_tt_1,142,English,USA,R,50000000,1997,1000,6.7,2.35,1000

Color,Clint Eastwood,315,129,16000,447,Jay Mohr,13000,32741596,Drama|Fantasy,Matt Damon,Hereafter ,80140,14344,Cécile De France,0,death|france|near death experience|tsunami|twin brother,http://www.imdb.com/title/tt1212419/?ref_=fn_tt_tt_1,323,English,USA,PG-13,50000000,2010,563,6.5,2.35,16000

Color,Clint Eastwood,146,110,16000,581,Anjelica Huston,16000,26199517,Action|Crime|Drama|Mystery|Thriller,Clint Eastwood,Blood Work ,34356,18635,Rick Hoffman,1,boat|heart transplant|murder|serial killer|sister,http://www.imdb.com/title/tt0309377/?ref_=fn_tt_tt_1,260,English,USA,R,50000000,2002,1000,6.4,2.35,705

Color,Clint Eastwood,249,134,16000,235,Steve Schirripa,880,47034272,Biography|Drama|Music|Musical,Johnny Cannizzaro,Jersey Boys ,25465,2281,Scott Vance,1,band|music group|musical quartet|singer|song,http://www.imdb.com/title/tt1742044/?ref_=fn_tt_tt_1,190,English,USA,R,40000000,2014,413,6.9,2.35,16000

Color,Clint Eastwood,392,137,16000,363,Naomi Watts,29000,37304950,Biography|Crime|Drama,Leonardo DiCaprio,J. Edgar ,102728,36258,Kaitlyn Dever,0,agent|fbi|federal bureau of investigation|gay relationship|secret,http://www.imdb.com/title/tt1616195/?ref_=fn_tt_tt_1,279,English,USA,R,35000000,2011,6000,6.6,2.35,16000

Color,Clint Eastwood,91,155,16000,229,Bob Gunton,18000,25078937,Crime|Drama|Mystery|Thriller,Kevin Spacey,Midnight in the Garden of Good and Evil ,31751,19689,Leon Rippy,2,graveyard|murder|murder trial|reporter|trial,http://www.imdb.com/title/tt0119668/?ref_=fn_tt_tt_1,216,English,USA,R,30000000,1997,461,6.6,1.85,0

Color,Clint Eastwood,229,138,16000,262,Spencer Treat Clark,616,90135191,Crime|Drama|Mystery|Thriller,John Doman,Mystic River ,338415,1942,Tom Guiry,0,ballistics|detective|friend|gun|sexual abuse,http://www.imdb.com/title/tt0327056/?ref_=fn_tt_tt_1,935,English,USA,R,25000000,2003,541,8,2.35,12000

Color,Clint Eastwood,268,132,16000,567,Morgan Freeman,16000,100422786,Drama|Sport,Clint Eastwood,Million Dollar Baby ,482064,28830,Mike Colter,1,boxing|boxing trainer|death|suicide attempt|women boxing,http://www.imdb.com/title/tt0405159/?ref_=fn_tt_tt_1,1106,English,USA,PG-13,30000000,2004,11000,8.1,2.35,14000

Color,Clint Eastwood,366,116,16000,198,Dreama Walker,16000,148085755,Drama,Clint Eastwood,Gran Torino ,561773,17347,Ahney Her,0,gang|gang rape|hmong|teenager|widower,http://www.imdb.com/title/tt1205489/?ref_=fn_tt_tt_1,871,English,USA,R,33000000,2008,601,8.2,2.35,28000

Color,Clint Eastwood,69,135,16000,86,Meryl Streep,16000,70960517,Drama|Romance,Clint Eastwood,The Bridges of Madison County ,54631,27237,Debra Monk,0,1960s|bridge|housewife|love|photographer,http://www.imdb.com/title/tt0112579/?ref_=fn_tt_tt_1,192,English,USA,PG-13,35000000,1995,11000,7.5,1.85,0

Color,Clint Eastwood,43,136,16000,216,Warren Clarke,16000,46700000,Action|Adventure|Thriller,Clint Eastwood,Firefox ,19832,16805,Kenneth Colley,1,fighter plane|jet fighter|refueling|russia|soviet union,http://www.imdb.com/title/tt0083943/?ref_=fn_tt_tt_1,98,English,USA,PG,21000000,1982,281,5.9,2.35,0

Color,Clint Eastwood,131,131,16000,638,Morgan Freeman,16000,101157447,Drama|Western,Clint Eastwood,Unforgiven ,277505,28544,Frances Fisher,1,englishman|leaving flowers on a grave|one last job|reputation|visiting wife's grave,http://www.imdb.com/title/tt0105695/?ref_=fn_tt_tt_1,495,English,USA,R,14400000,1992,11000,8.3,2.35,10000

Color,Clint Eastwood,251,141,16000,78,Kazunari Ninomiya,378,13753931,Drama|History|War,Yuki Matsuzaki,Letters from Iwo Jima ,132149,751,Shidô Nakamura,0,blood splatter|general|island|japan|world war two,http://www.imdb.com/title/tt0498380/?ref_=fn_tt_tt_1,316,Japanese,USA,R,19000000,2006,85,7.9,2.35,5000

Color,Clint Eastwood,38,115,16000,240,Chris Penn,16000,41400000,Western,Clint Eastwood,Pale Rider ,39451,17209,Sydney Penny,0,gold|miner|preacher|prospector|sheriff,http://www.imdb.com/title/tt0089767/?ref_=fn_tt_tt_1,138,English,USA,R,6900000,1985,455,7.3,2.35,0

Color,Clint Eastwood,72,105,16000,258,Richard Bull,16000,,Mystery|Western,Clint Eastwood,High Plains Drifter ,36381,17599,John Hillerman,0,gravestone|gunfighter|outlaw|revenge|small town,http://www.imdb.com/title/tt0068699/?ref_=fn_tt_tt_1,169,English,USA,R,5500000,1973,742,7.6,2.35,0

Color,J.J. Abrams,590,132,14000,928,Bruce Greenwood,19000,228756232,Action|Adventure|Sci-Fi,Benedict Cumberbatch,Star Trek Into Darkness ,395573,21411,Noel Clarke,0,admiral|captain|manhunt|mission|space,http://www.imdb.com/title/tt1408101/?ref_=fn_tt_tt_1,1171,English,USA,PG-13,190000000,2013,981,7.8,2.35,92000

Color,J.J. Abrams,310,124,14000,979,Tom Cruise,22000,133382309,Action|Adventure|Thriller,Philip Seymour Hoffman,Mission: Impossible III ,256695,34817,Eddie Marsan,0,arms dealer|fictional government agency|mission|rescue|vatican,http://www.imdb.com/title/tt0317919/?ref_=fn_tt_tt_1,871,English,USA,PG-13,150000000,2006,10000,6.9,2.35,0

Color,J.J. Abrams,518,127,14000,981,Leonard Nimoy,26000,257704099,Action|Adventure|Sci-Fi,Chris Hemsworth,Star Trek ,504419,39284,Bruce Greenwood,0,box office hit|future|lifted by the throat|star trek|vulcan,http://www.imdb.com/title/tt0796366/?ref_=fn_tt_tt_1,1559,English,USA,PG-13,150000000,2009,12000,8,2.35,19000

Color,J.J. Abrams,539,112,14000,417,AJ Michalka,1000,126975169,Mystery|Sci-Fi|Thriller,Joel Courtney,Super 8 ,287822,3388,Zach Mills,0,deputy|group of friends|time|train|train crash,http://www.imdb.com/title/tt1650062/?ref_=fn_tt_tt_1,849,English,USA,PG-13,50000000,2011,560,7.1,2.35,37000

Color,Jonathan Demme,209,129,438,502,Dorian Missick,18000,65948711,Drama|Mystery|Sci-Fi|Thriller,Denzel Washington,The Manchurian Candidate ,86422,20056,Jose Pablo Cantillo,1,brainwashed assassin|conspiracy|critically acclaimed|mother son relationship|soldier,http://www.imdb.com/title/tt0368008/?ref_=fn_tt_tt_1,363,English,USA,R,80000000,2004,1000,6.6,1.85,0

Color,Jonathan Demme,78,172,438,466,Kimberly Elise,852,22843047,Drama|History|Horror,Oprah Winfrey,Beloved ,6082,2397,Hill Harper,1,farm|freedom|ohio|slavery|spirit,http://www.imdb.com/title/tt0120603/?ref_=fn_tt_tt_1,207,English,USA,R,55000000,1998,637,5.9,1.85,853

Color,Jonathan Demme,185,138,438,173,Scott Glenn,12000,130727000,Crime|Drama|Horror|Thriller,Anthony Hopkins,The Silence of the Lambs ,887467,13184,Anthony Heald,0,case file|fbi agent|psycho thriller|psychopath|serial killer,http://www.imdb.com/title/tt0102926/?ref_=fn_tt_tt_1,916,English,USA,R,19000000,1991,826,8.6,1.85,40000

Color,Jonathan Demme,68,125,438,372,Tom Hanks,18000,77324422,Drama,Denzel Washington,Philadelphia ,178731,33865,Jason Robards,2,aids|city name in title|gay|homophobia|lawyer,http://www.imdb.com/title/tt0107818/?ref_=fn_tt_tt_1,261,English,USA,PG-13,26000000,1993,15000,7.7,1.85,0

Color,Jonathan Demme,232,113,438,471,Rosemarie DeWitt,11000,12796277,Drama|Romance,Anne Hathaway,Rachel Getting Married ,41226,12274,Bill Irwin,1,12 step program|friend|maid of honor|tears|wedding,http://www.imdb.com/title/tt1084950/?ref_=fn_tt_tt_1,281,English,USA,R,,2008,536,6.7,1.85,0

Color,Mel Brooks,103,96,0,542,Dick Van Patten,1000,38119483,Adventure|Comedy|Sci-Fi,Joan Rivers,Spaceballs ,136667,2936,Michael Winslow,2,parody|planet enclosed within shield|sci fi spoof|self referential|winnebago,http://www.imdb.com/title/tt0094012/?ref_=fn_tt_tt_1,273,English,USA,PG,22700000,1987,605,7.1,1.85,13000

Color,Mel Brooks,48,92,0,842,Sid Caesar,1000,,Comedy,Madeline Kahn,History of the World: Part I ,36559,3931,Dom DeLuise,0,french revolution|old testament|part of an unfinished series|reference to john wayne|roman emperor,http://www.imdb.com/title/tt0082517/?ref_=fn_tt_tt_1,131,English,USA,R,11000000,1981,898,6.9,2.35,0

Color,Mel Brooks,39,87,0,753,Dom DeLuise,898,,Comedy|Romance,Sid Caesar,Silent Movie ,12666,2951,Bernadette Peters,0,black comedy|friend|modern silent movie|silent movie|two word title,http://www.imdb.com/title/tt0075222/?ref_=fn_tt_tt_1,61,,USA,PG,4400000,1976,842,6.7,1.85,629

Color,Mel Brooks,55,94,0,605,Harvey Korman,1000,,Comedy,Madeline Kahn,High Anxiety ,15115,2861,Dick Van Patten,0,belldon's hysteria|high anxiety|hitchcockian|murder|parody,http://www.imdb.com/title/tt0076141/?ref_=fn_tt_tt_1,102,English,USA,PG,3400000,1977,628,6.7,1.85,0

 Black and White,Mel Brooks,129,106,0,481,Peter Boyle,1000,86300000,Comedy,Madeline Kahn,Young Frankenstein ,112671,2703,Teri Garr,0,assistant|castle|experiment|frankenstein's monster|scientist,http://www.imdb.com/title/tt0072431/?ref_=fn_tt_tt_1,315,English,USA,PG,2800000,1974,595,8,1.85,14000

Color,Mel Brooks,121,93,0,628,David Huddleston,1000,119500000,Comedy|Western,Madeline Kahn,Blazing Saddles ,95294,4701,Harvey Korman,0,railroad|reference to douglas fairbanks|reference to jesse owens|reference to randolph scott|year 1874,http://www.imdb.com/title/tt0071230/?ref_=fn_tt_tt_1,363,English,USA,R,2600000,1974,1000,7.8,2.35,12000

Color,Mel Brooks,48,92,0,842,Sid Caesar,1000,,Comedy,Madeline Kahn,History of the World: Part I ,36559,3931,Dom DeLuise,0,french revolution|old testament|part of an unfinished series|reference to john wayne|roman emperor,http://www.imdb.com/title/tt0082517/?ref_=fn_tt_tt_1,131,English,USA,R,11000000,1981,898,6.9,2.35,0

Color,Mel Gibson,132,178,0,403,Patrick McGoohan,906,75600000,Biography|Drama|History|War,Mhairi Calvey,Braveheart ,736638,1976,James Robinson,1,14th century|legend|revolt|scotland|tyranny,http://www.imdb.com/title/tt0112573/?ref_=fn_tt_tt_1,1065,English,USA,R,72000000,1995,466,8.4,2.35,17000

Color,Mel Gibson,283,139,0,19,Dalia Hernández,708,50859889,Action|Adventure|Drama|Thriller,Rudy Youngblood,Apocalypto ,236000,848,Jonathan Brewer,0,jaguar|mayan|solar eclipse|tribe|village,http://www.imdb.com/title/tt0472043/?ref_=fn_tt_tt_1,1043,Maya,USA,R,40000000,2006,78,7.8,1.85,14000

Color,Mel Gibson,406,120,0,113,Maia Morgenstern,260,499263,Drama,Christo Jivkov,The Passion of the Christ ,179235,705,Hristo Shopov,0,anti semitism|cult film|grindhouse|suffering|torture,http://www.imdb.com/title/tt0335345/?ref_=fn_tt_tt_1,2814,Aramaic,USA,R,30000000,2004,252,7.1,2.35,13000

In [188]:
fhr = open('imdb.csv','r', encoding='utf-8', errors='ignore')

for line in fhr:
    ls = line.split()
    print(ls)

fhr.close()

['color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes']
['Color,Alfred', 'Hitchcock,50,127,13000,148,John', 'Vernon,204,,Drama|Thriller,Roscoe', 'Lee', 'Browne,Topaz', ',12677,753,Philippe', 'Noiret,0,1960s|agent|cuba|intelligence|spy,http://www.imdb.com/title/tt0065112/?ref_=fn_tt_tt_1,89,English,USA,M,4000000,1969,187,6.3,1.85,414']
['Color,Alfred', 'Hitchcock,110,116,13000,118,Jean', 'Marsh,195,,Thriller,Bernard', 'Cribbins,Frenzy', ',30982,771,Clive', 'Swift,0,penknife|police|rape|serial', 'killer|united', 'kingdom,http://www.imdb.com/title/tt0068611/?ref_=fn_tt_tt_1,199,English,UK,R,2000000,1972,146,7.5,1.85,0']
['Color,Alfred', 'Hitchcock,67,120,13000,416,Bruce', 'Dern,897,,Comedy|Thriller,Ed', 'Lauter,Family', 'Plot', ',15293,2811,William', 'Devane,1,actor|diamond|heir|kidnapping|ransom,http://www.imdb.com/title/tt0074512/?ref_=fn_tt_tt_1,111,English,USA,PG,4490375,1976,844,6.8,1.85,609']
['Color,Alfred', 'Hitchcock,64,128,13000,14,Lila', 'Kedrova,18,,Thriller,Tamara', 'Toumanova,Torn', 'Curtain', ',18656,70,David', 'Opatoshu,1,defection|east', 'germany|germany|iron', 'curtain|scientist,http://www.imdb.com/title/tt0061107/?ref_=fn_tt_tt_1,137,English,USA,Approved,6000000,1966,16,6.7,1.85,933']
['Color,Alfred', 'Hitchcock,97,95,13000,82,Rhonda', 'Fleming,472,,Film-Noir|Mystery|Romance|Thriller,Norman', 'Lloyd,Spellbound', ',32927,896,Leo', 'G.', 'Carroll,1,amnesia|dream', 'analysis|dream', 'sequence|guilt', 'complex|post', 'traumatic', 'stress', 'disorder,http://www.imdb.com/title/tt0038109/?ref_=fn_tt_tt_1,161,English,USA,Unrated,1696377,1945,239,7.6,1.37,0']
['Black', 'and', 'White,Alfred', 'Hitchcock,144,130,13000,333,Joan', 'Fontaine,1000,,Drama|Film-Noir|Mystery|Thriller,Laurence', 'Olivier,Rebecca', ',87424,2888,George', 'Sanders,2,death|estate|housekeeper|love|monte', 'carlo,http://www.imdb.com/title/tt0032976/?ref_=fn_tt_tt_1,276,English,USA,Not', 'Rated,1288000,1940,991,8.2,1.37,0']
['Color,Alfred', 'Hitchcock,73,99,13000,232,John', 'Forsythe,282,,Comedy|Mystery|Romance,Jerry', 'Mathers,The', 'Trouble', 'with', 'Harry', ',24891,1041,Royal', 'Dano,0,artist|death|hunting|sheriff|vermont,http://www.imdb.com/title/tt0048750/?ref_=fn_tt_tt_1,150,English,USA,Approved,1200000,1955,255,7.2,1.5,0']
['Color,Ang', 'Lee,552,127,0,341,Rafe', 'Spall,774,124976634,Adventure|Drama|Fantasy,Suraj', 'Sharma,Life', 'of', 'Pi', ',440084,2121,Tabu,0,animal|faith|india|journey|tiger,http://www.imdb.com/title/tt0454876/?ref_=fn_tt_tt_1,755,English,USA,PG,120000000,2012,358,8,1.85,122000']
['Color,Ang', 'Lee,95,148,0,0,Jeffrey', 'Dover,3,630779,Drama|Romance|War|Western,Jeremy', 'W.', 'Auman,Ride', 'with', 'the', 'Devil', ',11101,5,Tobey', 'Maguire,0,bushwhacker|friend|honor|kansas|raid,http://www.imdb.com/title/tt0134154/?ref_=fn_tt_tt_1,159,English,USA,R,35000000,1999,2,6.8,2.35,633']
['Color,Ang', 'Lee,210,120,0,210,Kevin', 'Chamberlin,579,7443007,Comedy|Drama|Music,Imelda', 'Staunton,Taking', 'Woodstock', ',24663,1500,Demetri', 'Martin,12,female', 'full', 'frontal', 'nudity|female', 'nudity|male', 'frontal', 'nudity|male', 'full', 'frontal', 'nudity|male', 'nudity,http://www.imdb.com/title/tt1127896/?ref_=fn_tt_tt_1,71,English,USA,R,30000000,2009,489,6.7,1.85,0']
['Color,Ang', 'Lee,124,112,0,177,Kate', 'Burton,805,7837632,Drama,Joan', 'Allen,The', 'Ice', 'Storm', ',46396,1466,Henry', 'Czerny,0,ice|ice', 'storm|storm|thanksgiving|virgin,http://www.imdb.com/title/tt0119349/?ref_=fn_tt_tt_1,287,English,USA,R,18000000,1997,223,7.5,1.85,0']
['Color,Ang', 'Lee,69,136,0,1000,Kate', 'Winslet,25000,42700000,Drama|Romance,Alan', 'Rickman,Sense', 'and', 'Sensibility', ',78392,41059,Tom', 'Wilkinson,2,1810s|female', 'protagonist|horseback', 'riding|inheritance|three', 'word', 'title,http://www.imdb.com/title/tt0114388/?ref_=fn_tt_tt_1,196,English,USA,PG,16500000,1995,14000,7.7,1.85,0']
['Color,Ang', 'Lee,357,134,0,11000,Heath', 'Ledger,15000,83025853,Drama|Romance,Jake', 'Gyllenhaal,Brokeback', 'Mountain', ',259837,39789,Anne', 'Hathaway,0,gay', 'relationship|homosexuality|mountain|ranch|rodeo,http://www.imdb.com/title/tt0388795/?ref_=fn_tt_tt_1,2254,English,USA,R,14000000,2005,13000,7.7,1.85,13000']
['Black', 'and', 'White,Clint', 'Eastwood,169,130,16000,416,Courtney', 'B.', 'Vance,16000,90454043,Action|Adventure|Thriller,Clint', 'Eastwood,Space', 'Cowboys', ',60165,17771,William', 'Devane,1,nasa|old', 'age|satellite|space|space', 'shuttle,http://www.imdb.com/title/tt0186566/?ref_=fn_tt_tt_1,326,English,USA,PG-13,65000000,2000,495,6.4,2.35,0']
['Color,Clint', 'Eastwood,306,134,16000,204,Morgan', 'Freeman,13000,37479778,Biography|Drama|History|Sport,Matt', 'Damon,Invictus', ',124222,24458,Leleti', 'Khumalo,1,apartheid|nation|nelson', 'mandela|president|rugby,http://www.imdb.com/title/tt1057500/?ref_=fn_tt_tt_1,259,English,USA,PG-13,60000000,2009,11000,7.4,2.35,23000']
['Color,Clint', 'Eastwood,490,133,16000,318,Leonard', 'Roberts,14000,350123553,Action|Biography|Drama|History|Thriller|War,Bradley', 'Cooper,American', 'Sniper', ',325264,16277,Keir', "O'Donnell,0,assassin|death", 'of', 'child|iraq|sniper|sniper', 'rifle,http://www.imdb.com/title/tt2179136/?ref_=fn_tt_tt_1,916,English,USA,R,58800000,2014,962,7.3,2.35,112000']
['Color,Clint', 'Eastwood,264,141,16000,539,Michael', 'Kelly,11000,35707327,Crime|Drama|Mystery|Thriller,Angelina', 'Jolie', 'Pitt,Changeling', ',199056,12840,Colm', 'Feore,0,execution', 'by', 'hanging|los', 'angeles', 'police', 'department|miscarriage', 'of', 'justice|missing', 'child|wrongful', 'conviction,http://www.imdb.com/title/tt0824747/?ref_=fn_tt_tt_1,387,English,USA,R,55000000,2008,963,7.8,2.35,14000']
['Color,Clint', 'Eastwood,279,135,16000,310,Chris', 'Bauer,23000,33574332,Drama|History|War,Paul', 'Walker,Flags', 'of', 'Our', 'Fathers', ',101221,24468,Tom', 'McCarthy,0,imperial', 'japan|japan|japanese', 'army|japanese', 'soldier|world', 'war', 'two,http://www.imdb.com/title/tt0418689/?ref_=fn_tt_tt_1,415,English,USA,R,90000000,2006,638,7.1,2.35,0']
['Color,Clint', 'Eastwood,76,121,16000,826,Mark', 'Margolis,16000,50007168,Action|Crime|Drama|Thriller,Clint', 'Eastwood,Absolute', 'Power', ',39529,19139,Scott', 'Glenn,0,death|death', 'of', 'wife|murder|thief|violence,http://www.imdb.com/title/tt0118548/?ref_=fn_tt_tt_1,142,English,USA,R,50000000,1997,1000,6.7,2.35,1000']
['Color,Clint', 'Eastwood,315,129,16000,447,Jay', 'Mohr,13000,32741596,Drama|Fantasy,Matt', 'Damon,Hereafter', ',80140,14344,Cécile', 'De', 'France,0,death|france|near', 'death', 'experience|tsunami|twin', 'brother,http://www.imdb.com/title/tt1212419/?ref_=fn_tt_tt_1,323,English,USA,PG-13,50000000,2010,563,6.5,2.35,16000']
['Color,Clint', 'Eastwood,146,110,16000,581,Anjelica', 'Huston,16000,26199517,Action|Crime|Drama|Mystery|Thriller,Clint', 'Eastwood,Blood', 'Work', ',34356,18635,Rick', 'Hoffman,1,boat|heart', 'transplant|murder|serial', 'killer|sister,http://www.imdb.com/title/tt0309377/?ref_=fn_tt_tt_1,260,English,USA,R,50000000,2002,1000,6.4,2.35,705']
['Color,Clint', 'Eastwood,249,134,16000,235,Steve', 'Schirripa,880,47034272,Biography|Drama|Music|Musical,Johnny', 'Cannizzaro,Jersey', 'Boys', ',25465,2281,Scott', 'Vance,1,band|music', 'group|musical', 'quartet|singer|song,http://www.imdb.com/title/tt1742044/?ref_=fn_tt_tt_1,190,English,USA,R,40000000,2014,413,6.9,2.35,16000']
['Color,Clint', 'Eastwood,392,137,16000,363,Naomi', 'Watts,29000,37304950,Biography|Crime|Drama,Leonardo', 'DiCaprio,J.', 'Edgar', ',102728,36258,Kaitlyn', 'Dever,0,agent|fbi|federal', 'bureau', 'of', 'investigation|gay', 'relationship|secret,http://www.imdb.com/title/tt1616195/?ref_=fn_tt_tt_1,279,English,USA,R,35000000,2011,6000,6.6,2.35,16000']
['Color,Clint', 'Eastwood,91,155,16000,229,Bob', 'Gunton,18000,25078937,Crime|Drama|Mystery|Thriller,Kevin', 'Spacey,Midnight', 'in', 'the', 'Garden', 'of', 'Good', 'and', 'Evil', ',31751,19689,Leon', 'Rippy,2,graveyard|murder|murder', 'trial|reporter|trial,http://www.imdb.com/title/tt0119668/?ref_=fn_tt_tt_1,216,English,USA,R,30000000,1997,461,6.6,1.85,0']
['Color,Clint', 'Eastwood,229,138,16000,262,Spencer', 'Treat', 'Clark,616,90135191,Crime|Drama|Mystery|Thriller,John', 'Doman,Mystic', 'River', ',338415,1942,Tom', 'Guiry,0,ballistics|detective|friend|gun|sexual', 'abuse,http://www.imdb.com/title/tt0327056/?ref_=fn_tt_tt_1,935,English,USA,R,25000000,2003,541,8,2.35,12000']
['Color,Clint', 'Eastwood,268,132,16000,567,Morgan', 'Freeman,16000,100422786,Drama|Sport,Clint', 'Eastwood,Million', 'Dollar', 'Baby', ',482064,28830,Mike', 'Colter,1,boxing|boxing', 'trainer|death|suicide', 'attempt|women', 'boxing,http://www.imdb.com/title/tt0405159/?ref_=fn_tt_tt_1,1106,English,USA,PG-13,30000000,2004,11000,8.1,2.35,14000']
['Color,Clint', 'Eastwood,366,116,16000,198,Dreama', 'Walker,16000,148085755,Drama,Clint', 'Eastwood,Gran', 'Torino', ',561773,17347,Ahney', 'Her,0,gang|gang', 'rape|hmong|teenager|widower,http://www.imdb.com/title/tt1205489/?ref_=fn_tt_tt_1,871,English,USA,R,33000000,2008,601,8.2,2.35,28000']
['Color,Clint', 'Eastwood,69,135,16000,86,Meryl', 'Streep,16000,70960517,Drama|Romance,Clint', 'Eastwood,The', 'Bridges', 'of', 'Madison', 'County', ',54631,27237,Debra', 'Monk,0,1960s|bridge|housewife|love|photographer,http://www.imdb.com/title/tt0112579/?ref_=fn_tt_tt_1,192,English,USA,PG-13,35000000,1995,11000,7.5,1.85,0']
['Color,Clint', 'Eastwood,43,136,16000,216,Warren', 'Clarke,16000,46700000,Action|Adventure|Thriller,Clint', 'Eastwood,Firefox', ',19832,16805,Kenneth', 'Colley,1,fighter', 'plane|jet', 'fighter|refueling|russia|soviet', 'union,http://www.imdb.com/title/tt0083943/?ref_=fn_tt_tt_1,98,English,USA,PG,21000000,1982,281,5.9,2.35,0']
['Color,Clint', 'Eastwood,131,131,16000,638,Morgan', 'Freeman,16000,101157447,Drama|Western,Clint', 'Eastwood,Unforgiven', ',277505,28544,Frances', 'Fisher,1,englishman|leaving', 'flowers', 'on', 'a', 'grave|one', 'last', 'job|reputation|visiting', "wife's", 'grave,http://www.imdb.com/title/tt0105695/?ref_=fn_tt_tt_1,495,English,USA,R,14400000,1992,11000,8.3,2.35,10000']
['Color,Clint', 'Eastwood,251,141,16000,78,Kazunari', 'Ninomiya,378,13753931,Drama|History|War,Yuki', 'Matsuzaki,Letters', 'from', 'Iwo', 'Jima', ',132149,751,Shidô', 'Nakamura,0,blood', 'splatter|general|island|japan|world', 'war', 'two,http://www.imdb.com/title/tt0498380/?ref_=fn_tt_tt_1,316,Japanese,USA,R,19000000,2006,85,7.9,2.35,5000']
['Color,Clint', 'Eastwood,38,115,16000,240,Chris', 'Penn,16000,41400000,Western,Clint', 'Eastwood,Pale', 'Rider', ',39451,17209,Sydney', 'Penny,0,gold|miner|preacher|prospector|sheriff,http://www.imdb.com/title/tt0089767/?ref_=fn_tt_tt_1,138,English,USA,R,6900000,1985,455,7.3,2.35,0']
['Color,Clint', 'Eastwood,72,105,16000,258,Richard', 'Bull,16000,,Mystery|Western,Clint', 'Eastwood,High', 'Plains', 'Drifter', ',36381,17599,John', 'Hillerman,0,gravestone|gunfighter|outlaw|revenge|small', 'town,http://www.imdb.com/title/tt0068699/?ref_=fn_tt_tt_1,169,English,USA,R,5500000,1973,742,7.6,2.35,0']
['Color,J.J.', 'Abrams,590,132,14000,928,Bruce', 'Greenwood,19000,228756232,Action|Adventure|Sci-Fi,Benedict', 'Cumberbatch,Star', 'Trek', 'Into', 'Darkness', ',395573,21411,Noel', 'Clarke,0,admiral|captain|manhunt|mission|space,http://www.imdb.com/title/tt1408101/?ref_=fn_tt_tt_1,1171,English,USA,PG-13,190000000,2013,981,7.8,2.35,92000']
['Color,J.J.', 'Abrams,310,124,14000,979,Tom', 'Cruise,22000,133382309,Action|Adventure|Thriller,Philip', 'Seymour', 'Hoffman,Mission:', 'Impossible', 'III', ',256695,34817,Eddie', 'Marsan,0,arms', 'dealer|fictional', 'government', 'agency|mission|rescue|vatican,http://www.imdb.com/title/tt0317919/?ref_=fn_tt_tt_1,871,English,USA,PG-13,150000000,2006,10000,6.9,2.35,0']
['Color,J.J.', 'Abrams,518,127,14000,981,Leonard', 'Nimoy,26000,257704099,Action|Adventure|Sci-Fi,Chris', 'Hemsworth,Star', 'Trek', ',504419,39284,Bruce', 'Greenwood,0,box', 'office', 'hit|future|lifted', 'by', 'the', 'throat|star', 'trek|vulcan,http://www.imdb.com/title/tt0796366/?ref_=fn_tt_tt_1,1559,English,USA,PG-13,150000000,2009,12000,8,2.35,19000']
['Color,J.J.', 'Abrams,539,112,14000,417,AJ', 'Michalka,1000,126975169,Mystery|Sci-Fi|Thriller,Joel', 'Courtney,Super', '8', ',287822,3388,Zach', 'Mills,0,deputy|group', 'of', 'friends|time|train|train', 'crash,http://www.imdb.com/title/tt1650062/?ref_=fn_tt_tt_1,849,English,USA,PG-13,50000000,2011,560,7.1,2.35,37000']
['Color,Jonathan', 'Demme,209,129,438,502,Dorian', 'Missick,18000,65948711,Drama|Mystery|Sci-Fi|Thriller,Denzel', 'Washington,The', 'Manchurian', 'Candidate', ',86422,20056,Jose', 'Pablo', 'Cantillo,1,brainwashed', 'assassin|conspiracy|critically', 'acclaimed|mother', 'son', 'relationship|soldier,http://www.imdb.com/title/tt0368008/?ref_=fn_tt_tt_1,363,English,USA,R,80000000,2004,1000,6.6,1.85,0']
['Color,Jonathan', 'Demme,78,172,438,466,Kimberly', 'Elise,852,22843047,Drama|History|Horror,Oprah', 'Winfrey,Beloved', ',6082,2397,Hill', 'Harper,1,farm|freedom|ohio|slavery|spirit,http://www.imdb.com/title/tt0120603/?ref_=fn_tt_tt_1,207,English,USA,R,55000000,1998,637,5.9,1.85,853']
['Color,Jonathan', 'Demme,185,138,438,173,Scott', 'Glenn,12000,130727000,Crime|Drama|Horror|Thriller,Anthony', 'Hopkins,The', 'Silence', 'of', 'the', 'Lambs', ',887467,13184,Anthony', 'Heald,0,case', 'file|fbi', 'agent|psycho', 'thriller|psychopath|serial', 'killer,http://www.imdb.com/title/tt0102926/?ref_=fn_tt_tt_1,916,English,USA,R,19000000,1991,826,8.6,1.85,40000']
['Color,Jonathan', 'Demme,68,125,438,372,Tom', 'Hanks,18000,77324422,Drama,Denzel', 'Washington,Philadelphia', ',178731,33865,Jason', 'Robards,2,aids|city', 'name', 'in', 'title|gay|homophobia|lawyer,http://www.imdb.com/title/tt0107818/?ref_=fn_tt_tt_1,261,English,USA,PG-13,26000000,1993,15000,7.7,1.85,0']
['Color,Jonathan', 'Demme,232,113,438,471,Rosemarie', 'DeWitt,11000,12796277,Drama|Romance,Anne', 'Hathaway,Rachel', 'Getting', 'Married', ',41226,12274,Bill', 'Irwin,1,12', 'step', 'program|friend|maid', 'of', 'honor|tears|wedding,http://www.imdb.com/title/tt1084950/?ref_=fn_tt_tt_1,281,English,USA,R,,2008,536,6.7,1.85,0']
['Color,Mel', 'Brooks,103,96,0,542,Dick', 'Van', 'Patten,1000,38119483,Adventure|Comedy|Sci-Fi,Joan', 'Rivers,Spaceballs', ',136667,2936,Michael', 'Winslow,2,parody|planet', 'enclosed', 'within', 'shield|sci', 'fi', 'spoof|self', 'referential|winnebago,http://www.imdb.com/title/tt0094012/?ref_=fn_tt_tt_1,273,English,USA,PG,22700000,1987,605,7.1,1.85,13000']
['Color,Mel', 'Brooks,48,92,0,842,Sid', 'Caesar,1000,,Comedy,Madeline', 'Kahn,History', 'of', 'the', 'World:', 'Part', 'I', ',36559,3931,Dom', 'DeLuise,0,french', 'revolution|old', 'testament|part', 'of', 'an', 'unfinished', 'series|reference', 'to', 'john', 'wayne|roman', 'emperor,http://www.imdb.com/title/tt0082517/?ref_=fn_tt_tt_1,131,English,USA,R,11000000,1981,898,6.9,2.35,0']
['Color,Mel', 'Brooks,39,87,0,753,Dom', 'DeLuise,898,,Comedy|Romance,Sid', 'Caesar,Silent', 'Movie', ',12666,2951,Bernadette', 'Peters,0,black', 'comedy|friend|modern', 'silent', 'movie|silent', 'movie|two', 'word', 'title,http://www.imdb.com/title/tt0075222/?ref_=fn_tt_tt_1,61,,USA,PG,4400000,1976,842,6.7,1.85,629']
['Color,Mel', 'Brooks,55,94,0,605,Harvey', 'Korman,1000,,Comedy,Madeline', 'Kahn,High', 'Anxiety', ',15115,2861,Dick', 'Van', "Patten,0,belldon's", 'hysteria|high', 'anxiety|hitchcockian|murder|parody,http://www.imdb.com/title/tt0076141/?ref_=fn_tt_tt_1,102,English,USA,PG,3400000,1977,628,6.7,1.85,0']
['Black', 'and', 'White,Mel', 'Brooks,129,106,0,481,Peter', 'Boyle,1000,86300000,Comedy,Madeline', 'Kahn,Young', 'Frankenstein', ',112671,2703,Teri', "Garr,0,assistant|castle|experiment|frankenstein's", 'monster|scientist,http://www.imdb.com/title/tt0072431/?ref_=fn_tt_tt_1,315,English,USA,PG,2800000,1974,595,8,1.85,14000']
['Color,Mel', 'Brooks,121,93,0,628,David', 'Huddleston,1000,119500000,Comedy|Western,Madeline', 'Kahn,Blazing', 'Saddles', ',95294,4701,Harvey', 'Korman,0,railroad|reference', 'to', 'douglas', 'fairbanks|reference', 'to', 'jesse', 'owens|reference', 'to', 'randolph', 'scott|year', '1874,http://www.imdb.com/title/tt0071230/?ref_=fn_tt_tt_1,363,English,USA,R,2600000,1974,1000,7.8,2.35,12000']
['Color,Mel', 'Brooks,48,92,0,842,Sid', 'Caesar,1000,,Comedy,Madeline', 'Kahn,History', 'of', 'the', 'World:', 'Part', 'I', ',36559,3931,Dom', 'DeLuise,0,french', 'revolution|old', 'testament|part', 'of', 'an', 'unfinished', 'series|reference', 'to', 'john', 'wayne|roman', 'emperor,http://www.imdb.com/title/tt0082517/?ref_=fn_tt_tt_1,131,English,USA,R,11000000,1981,898,6.9,2.35,0']
['Color,Mel', 'Gibson,132,178,0,403,Patrick', 'McGoohan,906,75600000,Biography|Drama|History|War,Mhairi', 'Calvey,Braveheart', ',736638,1976,James', 'Robinson,1,14th', 'century|legend|revolt|scotland|tyranny,http://www.imdb.com/title/tt0112573/?ref_=fn_tt_tt_1,1065,English,USA,R,72000000,1995,466,8.4,2.35,17000']
['Color,Mel', 'Gibson,283,139,0,19,Dalia', 'Hernández,708,50859889,Action|Adventure|Drama|Thriller,Rudy', 'Youngblood,Apocalypto', ',236000,848,Jonathan', 'Brewer,0,jaguar|mayan|solar', 'eclipse|tribe|village,http://www.imdb.com/title/tt0472043/?ref_=fn_tt_tt_1,1043,Maya,USA,R,40000000,2006,78,7.8,1.85,14000']
['Color,Mel', 'Gibson,406,120,0,113,Maia', 'Morgenstern,260,499263,Drama,Christo', 'Jivkov,The', 'Passion', 'of', 'the', 'Christ', ',179235,705,Hristo', 'Shopov,0,anti', 'semitism|cult', 'film|grindhouse|suffering|torture,http://www.imdb.com/title/tt0335345/?ref_=fn_tt_tt_1,2814,Aramaic,USA,R,30000000,2004,252,7.1,2.35,13000']

In [189]:
fhr = open('imdb.csv','r', encoding='utf-8', errors='ignore')

for line in fhr:
    ls = line.split(',')
    director = (ls[1]).strip()
    title = (ls[11]).strip()
    rating = (ls[25]).strip()
    print(director, title, rating)

fhr.close()

director_name movie_title imdb_score
Alfred Hitchcock Topaz 6.3
Alfred Hitchcock Frenzy 7.5
Alfred Hitchcock Family Plot 6.8
Alfred Hitchcock Torn Curtain 6.7
Alfred Hitchcock Spellbound 7.6
Alfred Hitchcock Rebecca 8.2
Alfred Hitchcock The Trouble with Harry 7.2
Ang Lee Life of Pi 8
Ang Lee Ride with the Devil 6.8
Ang Lee Taking Woodstock 6.7
Ang Lee The Ice Storm 7.5
Ang Lee Sense and Sensibility 7.7
Ang Lee Brokeback Mountain 7.7
Clint Eastwood Space Cowboys 6.4
Clint Eastwood Invictus 7.4
Clint Eastwood American Sniper 7.3
Clint Eastwood Changeling 7.8
Clint Eastwood Flags of Our Fathers 7.1
Clint Eastwood Absolute Power 6.7
Clint Eastwood Hereafter 6.5
Clint Eastwood Blood Work 6.4
Clint Eastwood Jersey Boys 6.9
Clint Eastwood J. Edgar 6.6
Clint Eastwood Midnight in the Garden of Good and Evil 6.6
Clint Eastwood Mystic River 8
Clint Eastwood Million Dollar Baby 8.1
Clint Eastwood Gran Torino 8.2
Clint Eastwood The Bridges of Madison County 7.5
Clint Eastwood Firefox 5.9
Clint Eastwood Unforgiven 8.3
Clint Eastwood Letters from Iwo Jima 7.9
Clint Eastwood Pale Rider 7.3
Clint Eastwood High Plains Drifter 7.6
J.J. Abrams Star Trek Into Darkness 7.8
J.J. Abrams Mission: Impossible III 6.9
J.J. Abrams Star Trek 8
J.J. Abrams Super 8 7.1
Jonathan Demme The Manchurian Candidate 6.6
Jonathan Demme Beloved 5.9
Jonathan Demme The Silence of the Lambs 8.6
Jonathan Demme Philadelphia 7.7
Jonathan Demme Rachel Getting Married 6.7
Mel Brooks Spaceballs 7.1
Mel Brooks History of the World: Part I 6.9
Mel Brooks Silent Movie 6.7
Mel Brooks High Anxiety 6.7
Mel Brooks Young Frankenstein 8
Mel Brooks Blazing Saddles 7.8
Mel Brooks History of the World: Part I 6.9
Mel Gibson Braveheart 8.4
Mel Gibson Apocalypto 7.8
Mel Gibson The Passion of the Christ 7.1

In [190]:
fhr = open('imdb.csv','r', encoding='utf-8', errors='ignore')

fhr.readline() # read the first line and ignore it
for line in fhr:
    ls = line.split(',')
    director = (ls[1]).strip()
    title = (ls[11]).strip()
    rating = (ls[25]).strip()
    print(director, title, rating)

fhr.close()

Alfred Hitchcock Topaz 6.3
Alfred Hitchcock Frenzy 7.5
Alfred Hitchcock Family Plot 6.8
Alfred Hitchcock Torn Curtain 6.7
Alfred Hitchcock Spellbound 7.6
Alfred Hitchcock Rebecca 8.2
Alfred Hitchcock The Trouble with Harry 7.2
Ang Lee Life of Pi 8
Ang Lee Ride with the Devil 6.8
Ang Lee Taking Woodstock 6.7
Ang Lee The Ice Storm 7.5
Ang Lee Sense and Sensibility 7.7
Ang Lee Brokeback Mountain 7.7
Clint Eastwood Space Cowboys 6.4
Clint Eastwood Invictus 7.4
Clint Eastwood American Sniper 7.3
Clint Eastwood Changeling 7.8
Clint Eastwood Flags of Our Fathers 7.1
Clint Eastwood Absolute Power 6.7
Clint Eastwood Hereafter 6.5
Clint Eastwood Blood Work 6.4
Clint Eastwood Jersey Boys 6.9
Clint Eastwood J. Edgar 6.6
Clint Eastwood Midnight in the Garden of Good and Evil 6.6
Clint Eastwood Mystic River 8
Clint Eastwood Million Dollar Baby 8.1
Clint Eastwood Gran Torino 8.2
Clint Eastwood The Bridges of Madison County 7.5
Clint Eastwood Firefox 5.9
Clint Eastwood Unforgiven 8.3
Clint Eastwood Letters from Iwo Jima 7.9
Clint Eastwood Pale Rider 7.3
Clint Eastwood High Plains Drifter 7.6
J.J. Abrams Star Trek Into Darkness 7.8
J.J. Abrams Mission: Impossible III 6.9
J.J. Abrams Star Trek 8
J.J. Abrams Super 8 7.1
Jonathan Demme The Manchurian Candidate 6.6
Jonathan Demme Beloved 5.9
Jonathan Demme The Silence of the Lambs 8.6
Jonathan Demme Philadelphia 7.7
Jonathan Demme Rachel Getting Married 6.7
Mel Brooks Spaceballs 7.1
Mel Brooks History of the World: Part I 6.9
Mel Brooks Silent Movie 6.7
Mel Brooks High Anxiety 6.7
Mel Brooks Young Frankenstein 8
Mel Brooks Blazing Saddles 7.8
Mel Brooks History of the World: Part I 6.9
Mel Gibson Braveheart 8.4
Mel Gibson Apocalypto 7.8
Mel Gibson The Passion of the Christ 7.1

In [191]:
fhr = open('imdb.csv','r', encoding='utf-8', errors='ignore')

imdbD = {}
fhr.readline()

for line in fhr:
    ls = line.split(',')
    title = (ls[11]).strip()
    rating = (ls[25]).strip()
    if (title not in imdbD.keys()):
        imdbD[title] = rating

fhr.close()
print(imdbD)

{'Topaz': '6.3', 'Frenzy': '7.5', 'Family Plot': '6.8', 'Torn Curtain': '6.7', 'Spellbound': '7.6', 'Rebecca': '8.2', 'The Trouble with Harry': '7.2', 'Life of Pi': '8', 'Ride with the Devil': '6.8', 'Taking Woodstock': '6.7', 'The Ice Storm': '7.5', 'Sense and Sensibility': '7.7', 'Brokeback Mountain': '7.7', 'Space Cowboys': '6.4', 'Invictus': '7.4', 'American Sniper': '7.3', 'Changeling': '7.8', 'Flags of Our Fathers': '7.1', 'Absolute Power': '6.7', 'Hereafter': '6.5', 'Blood Work': '6.4', 'Jersey Boys': '6.9', 'J. Edgar': '6.6', 'Midnight in the Garden of Good and Evil': '6.6', 'Mystic River': '8', 'Million Dollar Baby': '8.1', 'Gran Torino': '8.2', 'The Bridges of Madison County': '7.5', 'Firefox': '5.9', 'Unforgiven': '8.3', 'Letters from Iwo Jima': '7.9', 'Pale Rider': '7.3', 'High Plains Drifter': '7.6', 'Star Trek Into Darkness': '7.8', 'Mission: Impossible III': '6.9', 'Star Trek': '8', 'Super 8': '7.1', 'The Manchurian Candidate': '6.6', 'Beloved': '5.9', 'The Silence of the Lambs': '8.6', 'Philadelphia': '7.7', 'Rachel Getting Married': '6.7', 'Spaceballs': '7.1', 'History of the World: Part I': '6.9', 'Silent Movie': '6.7', 'High Anxiety': '6.7', 'Young Frankenstein': '8', 'Blazing Saddles': '7.8', 'Braveheart': '8.4', 'Apocalypto': '7.8', 'The Passion of the Christ': '7.1'}

In [192]:
fhr = open('imdb.csv','r', encoding='utf-8', errors='ignore')

imdbND = {}
fhr.readline()

for line in fhr:
    ls = line.split(',')
    director = (ls[1]).strip()
    title = (ls[11]).strip()
    rating = (ls[25]).strip()
    if (director in imdbND.keys()):
        titleratings = imdbND[director]
    else:
        titleratings = {}
    titleratings[title] = rating
    imdbND[director] = titleratings

print(imdbND)
    
fhr.close()

{'Alfred Hitchcock': {'Topaz': '6.3', 'Frenzy': '7.5', 'Family Plot': '6.8', 'Torn Curtain': '6.7', 'Spellbound': '7.6', 'Rebecca': '8.2', 'The Trouble with Harry': '7.2'}, 'Ang Lee': {'Life of Pi': '8', 'Ride with the Devil': '6.8', 'Taking Woodstock': '6.7', 'The Ice Storm': '7.5', 'Sense and Sensibility': '7.7', 'Brokeback Mountain': '7.7'}, 'Clint Eastwood': {'Space Cowboys': '6.4', 'Invictus': '7.4', 'American Sniper': '7.3', 'Changeling': '7.8', 'Flags of Our Fathers': '7.1', 'Absolute Power': '6.7', 'Hereafter': '6.5', 'Blood Work': '6.4', 'Jersey Boys': '6.9', 'J. Edgar': '6.6', 'Midnight in the Garden of Good and Evil': '6.6', 'Mystic River': '8', 'Million Dollar Baby': '8.1', 'Gran Torino': '8.2', 'The Bridges of Madison County': '7.5', 'Firefox': '5.9', 'Unforgiven': '8.3', 'Letters from Iwo Jima': '7.9', 'Pale Rider': '7.3', 'High Plains Drifter': '7.6'}, 'J.J. Abrams': {'Star Trek Into Darkness': '7.8', 'Mission: Impossible III': '6.9', 'Star Trek': '8', 'Super 8': '7.1'}, 'Jonathan Demme': {'The Manchurian Candidate': '6.6', 'Beloved': '5.9', 'The Silence of the Lambs': '8.6', 'Philadelphia': '7.7', 'Rachel Getting Married': '6.7'}, 'Mel Brooks': {'Spaceballs': '7.1', 'History of the World: Part I': '6.9', 'Silent Movie': '6.7', 'High Anxiety': '6.7', 'Young Frankenstein': '8', 'Blazing Saddles': '7.8'}, 'Mel Gibson': {'Braveheart': '8.4', 'Apocalypto': '7.8', 'The Passion of the Christ': '7.1'}}

In [193]:
fhr = open('dmr.csv','w', encoding='utf-8', errors='ignore')

fhr.write('Director,Title,Rating\n')
for director, movierating in imdbND.items():
    for movie, rating in movierating.items():
        fhr.write(director + ','+ movie + ','+ rating + '\n')

fhr.close()

In [194]:
def minkowksiD(ratings1, ratings2, r):
    
    # calcualte minkowski distance
    distance = 0       
    for item in ratings1.keys():
        # consider item rating only if 
        # both users have rated item
        if item in ratings2.keys():
            x = ratings1[item]
            y = ratings2[item]
            distance += pow(abs(x - y), r)
    
    # return value of minkowski distance
    return pow(distance,1/r)

DirectorMovieRatings = {
    'Alfred Hitchcock': {'Family Plot': '6.8', 'Rebecca': '8.2', 'Spellbound': '7.6'}, 
    'Mel Gibson': {'Apocalypto': '7.8', 'Braveheart': '8.4'}, 
    'Mel Brooks': {'Spaceballs': '7.1', 'History of the World: Part I': '6.9'}, 
    'Ang Lee': {'Life of Pi': '8', 'The Ice Storm': '7.5'}, 
    'J.J. Abrams': {'Star Trek': '8', 'Star Trek Into Darkness': '7.8'}, 
    'Clint Eastwood': {'J. Edgar': '6.6', 'The Bridges of Madison County': '7.5'}}
    
UserMovieRatings = {
    'Amy': {'Family Plot':10, 'Rebecca':5, 'Spellbound':9, 'Star Trek':6}, 
    'Bill': {'Apocalypto':8, 'Braveheart':3, 'Rebecca':10, 'Spellbound':5, 'Star Trek':7}, 
    'Cathy': {'Spaceballs':7, 'The Ice Storm':4, 'Family Plot':5, 'Rebecca':9, 'Spellbound':1}, 
    'Dave': {'Braveheart':5, 'Rebecca':7, 'Spellbound':4}, 
    'Ernie': {'Apocalypto':3, 'Braveheart':8, 'Rebecca':1, 'Star Trek':7}, 
    'Fiona': {'The Ice Storm':3, 'Family Plot':10, 'Rebecca':6, 'Spellbound':10}}

In [195]:
UserX = 'Amy'
UserXRatings = UserMovieRatings[UserX]

UserY = 'Bill'
UserYRatings = UserMovieRatings[UserY]
print(UserYRatings)

{'Apocalypto': 8, 'Braveheart': 3, 'Rebecca': 10, 'Spellbound': 5, 'Star Trek': 7}

In [196]:
print(minkowksiD(UserXRatings, UserYRatings, 1))
print(minkowksiD(UserXRatings, UserYRatings, 2))
print(minkowksiD(UserXRatings, UserYRatings, 3))

10.0
6.48074069840786
5.748897078944831

In [197]:
for user, movierating in UserMovieRatings.items():
    print(user, movierating)

Amy {'Family Plot': 10, 'Rebecca': 5, 'Spellbound': 9, 'Star Trek': 6}
Bill {'Apocalypto': 8, 'Braveheart': 3, 'Rebecca': 10, 'Spellbound': 5, 'Star Trek': 7}
Cathy {'Spaceballs': 7, 'The Ice Storm': 4, 'Family Plot': 5, 'Rebecca': 9, 'Spellbound': 1}
Dave {'Braveheart': 5, 'Rebecca': 7, 'Spellbound': 4}
Ernie {'Apocalypto': 3, 'Braveheart': 8, 'Rebecca': 1, 'Star Trek': 7}
Fiona {'The Ice Storm': 3, 'Family Plot': 10, 'Rebecca': 6, 'Spellbound': 10}

In [198]:
UserX = 'Amy'
userXRatings = UserMovieRatings[UserX]

RatingMD = []

for UserY, UserYRatings in UserMovieRatings.items():
    if UserY == UserX:
        continue
    UserMD = minkowksiD(UserXRatings, UserYRatings, 1)
    tpl = (UserY, UserMD)
    RatingMD.append(tpl)

from operator import itemgetter

print(sorted(RatingMD, key = itemgetter(1)))

[('Fiona', 2.0), ('Ernie', 5.0), ('Dave', 7.0), ('Bill', 10.0), ('Cathy', 17.0)]

---

## Exercise 7

Let’s say we have 6 users, and they have rated 8 different movies on a scale of 1 to 10. Note that not all
users have rated all movies.
> UserMovieRatings = { <br>
> 'Amy': {'Family Plot':10, 'Rebecca':5, 'Spellbound':9, 'Star Trek':6},
  'Bill': {'Apocalypto':8, 'Braveheart':3, 'Rebecca':10, 'Spellbound':5, 'Star Trek':7},
  'Cathy': {'Spaceballs':7, 'The Ice Storm':4, 'Family Plot':5, 'Rebecca':9, 'Spellbound':1},
  'Dave': {'Braveheart':5, 'Rebecca':7, 'Spellbound':4},
  'Ernie': {'Apocalypto':3, 'Braveheart':8, 'Rebecca':1, 'Star Trek':7},
  'Fiona': {'The Ice Storm':3, 'Family Plot':10, 'Rebecca':6, 'Spellbound':10}}

You can build a simple User-Based Recommendation System as follows:
- Let’s say you want to make recommendations for UserX
- Given a UserX, you can find the most similar user or the “nearest neighbor” of UserX by calculating the manhattan distance between UserX and every other user (not including UserX).
- The person with the smallest manhattan distance is considered the most similar user. Let’s call this person UserXNN.
- You can now find recommendations for UserX by considering all the movies that UserXNN has rated but that UserX has not.


You have been provided with a framework for this MiniProject: “MiniProject – Framework.py”.
- The Framework defines a function called manhattanD which takes two rating dictionaries ratings1D and ratings2D as parameters and returns the Manhattan Distance between the two dictionaries.
- Pseudo-code has been provided to you in the framework. So, you essentially need to plug in appropriate code for steps 1 through 5 in the framework.


***Hints:***
- You can use the last exercise in ExerciseSet7 as a starting point for the mini project.
- The next page provides intermediate and final answers for each user. You can use this to check your work.


Some things to keep in mind as you code:
- Make your code readable – for instance, use meaningful variable names and comments.
- Make your code elegant – for instance, balance the number of variables you introduce – too many or too few make your code difficult to debug, read, and maintain.
- Make your output readable and user-friendly

In [199]:
# prompt
UserMovieRatings = {'Amy': {'Family Plot':10, 'Rebecca':5, 'Spellbound':9, 'Star Trek':6},
                    'Bill': {'Apocalypto':8, 'Braveheart':3, 'Rebecca':10, 'Spellbound':5, 'Star Trek':7},
                    'Cathy': {'Spaceballs':7, 'The Ice Storm':4, 'Family Plot':5, 'Rebecca':9, 'Spellbound':1},
                    'Dave': {'Braveheart':5, 'Rebecca':7, 'Spellbound':4},
                    'Ernie': {'Apocalypto':3, 'Braveheart':8, 'Rebecca':1, 'Star Trek':7},
                    'Fiona': {'The Ice Storm':3, 'Family Plot':10, 'Rebecca':6, 'Spellbound':10}}

# mini Framework
from operator import itemgetter

# manhattan distance between 2 dictionary ratings
def manhattanD(ratings1D, ratings2D):
    
    # calcualte manhattan distance
    distance = 0       
    for k in ratings1D.keys() & ratings2D.keys():
        distance = distance + abs(ratings1D[k] - ratings2D[k])
    
    # return value of manhattan distance
    return distance


# for whom are we making recommendations?
userX = "Amy"
userXRatings = UserMovieRatings[userX]

# find the manhattan distance between userX's ratings, and each of the other user's ratings.
# use a for loop to get at the other users and their ratings - DO NOT hard code.
# use the manhattan function to caclulate the manhattan distance between user ratings.
# assign list of (user, distance) tuples to variable userDistances.
# Example: [('Bill', 4.39), ('Cathy', 3.16), ('Dave', 1.41), ('Ernie', 3.64)]

userDistances = []

# <<<<< (1) YOUR CODE HERE >>>>>
for UserY, UserYRatings in UserMovieRatings.items():
    if UserY == UserX:
        continue
    UserMD = minkowksiD(UserXRatings, UserYRatings, 1)
    tpl = (UserY, UserMD)
    userDistances.append(tpl)


# sort list of tuples by lowest distance to highest distance.
# assign sorted list to variable userSortedDistances.
# Example: [('Dave', 1.41), ('Cathy', 3.16), ('Ernie', 3.64), ('Bill', 4.39)]

# userSortedDistances = []
# <<<<< (2) YOUR CODE HERE >>>>>
userSortedDistances = sorted(userDistances, key = itemgetter(1))


# userX's NN is the user at the 0th position of the sorted list.
# assign NN to userXNN.
# Example: 'Dave'

userXNN = ""
# <<<<< (3) YOUR CODE HERE >>>>>
userXNN = userSortedDistances[0][0]

# recos for userX will include movies rated by userXNN, not already rated by userX.
# assign list of (movie, rating) tuples to variable userXRecos.
# Example: [('Family Plot',10), ('The Ice Storm',3), ('Rebecca',6)]

userXRecos = []
userXNotRated = (UserMovieRatings[userXNN].keys() - UserMovieRatings[userX].keys())

for i in UserMovieRatings[userXNN].items():
    if i[0] in userXNotRated:
        userXRecos.append(i)


# sort list of tuples by highest rating to lowest rating.
# assign sorted list to varaible userXSortedRecos.
# Example: [('Family Plot',10), ('Rebecca',6), ('The Ice Storm',3)]

userXSortedRecos = []
# <<<<< (5) YOUR CODE HERE >>>>>
userXSortedRecos = sorted(userXRecos, key=itemgetter(1))


print ("Recommendations for:", userX)
print ("Based on closest user:", userXNN)
print (userXSortedRecos)

Recommendations for: Amy
Based on closest user: Fiona
[('The Ice Storm', 3)]

## Exercise 7 - Final Recommendations For Each User

In [200]:
# prompt
UserMovieRatings = {'Amy': {'Family Plot':10, 'Rebecca':5, 'Spellbound':9, 'Star Trek':6},
                    'Bill': {'Apocalypto':8, 'Braveheart':3, 'Rebecca':10, 'Spellbound':5, 'Star Trek':7},
                    'Cathy': {'Spaceballs':7, 'The Ice Storm':4, 'Family Plot':5, 'Rebecca':9, 'Spellbound':1},
                    'Dave': {'Braveheart':5, 'Rebecca':7, 'Spellbound':4},
                    'Ernie': {'Apocalypto':3, 'Braveheart':8, 'Rebecca':1, 'Star Trek':7},
                    'Fiona': {'The Ice Storm':3, 'Family Plot':10, 'Rebecca':6, 'Spellbound':10}}


# mini Framework
from operator import itemgetter

# manhattan distance between 2 dictionary ratings
def manhattanD(ratings1D, ratings2D):
    
    # calcualte manhattan distance
    distance = 0       
    for k in ratings1D.keys() & ratings2D.keys():
        distance = distance + abs(ratings1D[k] - ratings2D[k])
    
    # return value of manhattan distance
    return distance

AllUsers = list(UserMovieRatings.keys())

UsersMDD = {}

for i in AllUsers:
    currentLowestScore = 0
    for j in AllUsers:
        if i == j:
            continue
        else:
            ijMD = manhattanD(UserMovieRatings[i],UserMovieRatings[j])
#             print(i, '-', j, ':', ijMD)
            if currentLowestScore == 0:
                currentLowestScore = ijMD
                currentLowestUser = j
            elif ijMD < currentLowestScore:
                currentLowestScore = ijMD
                currentLowestUser = j
            else:
                continue

    UsersMDD[i] = (currentLowestUser, currentLowestScore)

# print(UsersMDD)
# print()
for userX, (userY, score) in UsersMDD.items():
    diff = set()
    diff = (UserMovieRatings[userY].keys() - UserMovieRatings[userX].keys())
    if diff != set():
        print('Recommendation for: ',userX)
        print('Based on users: ', userY, '(', score, ')')
        movieScore = []
        for i in diff:
            tpl = (i, UserMovieRatings[userY][i])
            movieScore.append(tpl)
        print('Recommendation: ', sorted(movieScore, key=itemgetter(1), reverse=True))
        print()
#

Recommendation for:  Amy
Based on users:  Fiona ( 2 )
Recommendation:  [('The Ice Storm', 3)]

Recommendation for:  Bill
Based on users:  Cathy ( 5 )
Recommendation:  [('Spaceballs', 7), ('Family Plot', 5), ('The Ice Storm', 4)]

Recommendation for:  Cathy
Based on users:  Bill ( 5 )
Recommendation:  [('Apocalypto', 8), ('Star Trek', 7), ('Braveheart', 3)]

Recommendation for:  Dave
Based on users:  Cathy ( 5 )
Recommendation:  [('Spaceballs', 7), ('Family Plot', 5), ('The Ice Storm', 4)]

Recommendation for:  Ernie
Based on users:  Amy ( 5 )
Recommendation:  [('Family Plot', 10), ('Spellbound', 9)]

Recommendation for:  Fiona
Based on users:  Amy ( 2 )
Recommendation:  [('Star Trek', 6)]